<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/PR-html40/loose.dtd">
<HTML lang="en">
<HEAD>
  <TITLE>MM.EQP.CDS Data Definitions</TITLE>
  <STYLE type="text/css">
    BODY { background: #fefefe; color: black;}
    SPAN.gdata { background: #eee;}
    TR.data { background: #fefefe;}
    TR.gdata { background: #eee;}
  </STYLE>
</HEAD>
<BODY>
<style>
table.seg {
    padding-right: 10px;
    text-align: left;
    vertical-align: top;
    border-style:none;
    margin: 8px;
    border-collapse: collapse;
    font: 14px "Courier New", monospace;
}
td.col1 {
    padding-right: 10px;
    width: 280px;
    min-width: 280px;
    max-width: 280px;}
td.col2 {
    padding-right: 10px;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    text-align: right;}
td.col3 {
    padding-right: 10px;
    width: 125px;
    min-width: 125px;
    max-width: 125px;}
td.col4 {
    padding-right: 10px;
    width: 15px;
    min-width: 15px;
    max-width: 15px;}
td.col5 {
    padding-right: 10px;
    width: 155px;
    min-width: 155px;
    max-width: 155px;}
td.col6 {
    padding-right: 10px;
    width: 1200px;
    min-width: 400px;
    max-width: 1200px;}
</style>
<TABLE width=100%><TR><TD><center><h2 STYLE="color:#000080;font-family:verdana,sans-serif;margin: 0px;font-size:24px">MM.EQP.CDS Data Definitions</h2></center></form><h5 STYLE="color:#000080;font-family:verdana,sans-serif;margin: 5px;font-size:12px;text-align:center">(Client Server 6.15)</h5><div><a name="Hierarchy"></a></div><div STYLE="font-family:Courier New,monospace;font-size:14px;font-weight:normal"><TABLE border bgcolor=#cccccc><TR class=data><TD><PRE>         <a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a>         
 <a href="#main" STYLE="text-decoration:none;color:#00F">main</a>                                                                                                                                 
 <a href="#classes" STYLE="text-decoration:none;color:#00F">  classes</a>                                                                                                                                 
 <a href="#maint.groups" STYLE="text-decoration:none;color:#00F">  maint.groups</a>                                                                                                                                 
</PRE></TD>
<TR class=data><TD><PRE><a name="main"></a><div STYLE="font-family:Courier New,monospace;font-size:14px;font-weight:normal">
 <a href="#Hierarchy" title="MM.EQP.CDS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a>                        <a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a> 
</div>
 <strong>main</strong>                         
<a STYLE="color: #808080;"><b>[mnemonic]</b></a>
 <a STYLE="color: #808080;"><b>&(M)MUE[mue]</b></a>                                                  

<table class=seg> <td class=col1><strong>Field Name</strong></td>  <td class=col2><strong>Len</strong></td>  <td class=col3><strong>Data Type</strong></td>  <td class=col4><strong>J</strong></td>  <td class=col5><strong>DPM Pointer</strong></td>  <td class=col1><strong>Offset/Local/VAL</strong></td> 
<tr>  <td class=col1>&nbsp;mnemonic</td>  <td class=col2>10</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>mue</td>                                                  
</tr><tr>  <td class=col1>&nbsp;active</td>  <td class=col2>1</td>  <td class=col3>YN</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>&(M)MUE[mue]|0</td>                                                  
</tr><tr>  <td class=col1>&nbsp;cd.screen</td>  <td class=col2>15</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href="../MIS/MIS_SCREEN.htm" STYLE="text-decoration:none;color:#00F">MIS.SCREEN</a></td>  <td class=col6>&(M)MUE[mue]|2</td>                                                  
</tr><tr>  <td class=col1>&nbsp;description</td>  <td class=col2>30</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>&(M)MUE[mue]|1</td>                                                  
</tr><tr>  <td class=col1>&nbsp;last.update</td>  <td class=col2>15</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>&(M)MUE[mue]UPD</td>                                                  
</tr><tr>  <td class=col1>&nbsp;maint.grp.ok</td>  <td class=col2>1</td>  <td class=col3>YN</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>VAL=IF{%MM.EQP.CDS.maint.grp.ok(MM.EQP.CDS.mnemoni</br>VAL=c) "Y";"N"}</td>                                                  
</tr></table>
</PRE></TD></TR>
<TR class=data><TD><PRE><a name="classes"></a><div STYLE="font-family:Courier New,monospace;font-size:14px;font-weight:normal">
 <a href="#Hierarchy" title="MM.EQP.CDS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a>        <a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a>                <a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a> 
</div>
 <strong>classes</strong>                         
<a STYLE="color: #808080;"><b>[mnemonic,class]</b></a>
 <a STYLE="color: #808080;"><b>&(M)MUE[mue]C[mud]</b></a>                                                  

<table class=seg> <td class=col1><strong>Field Name</strong></td>  <td class=col2><strong>Len</strong></td>  <td class=col3><strong>Data Type</strong></td>  <td class=col4><strong>J</strong></td>  <td class=col5><strong>DPM Pointer</strong></td>  <td class=col1><strong>Offset/Local/VAL</strong></td> 
<tr>  <td class=col1>&nbsp;class</td>  <td class=col2>8</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href="MM_EQP_CLASS.htm" STYLE="text-decoration:none;color:#00F">MM.EQP.CLASS</a></td>  <td class=col6>mud</td>                                                  
</tr></table>
</PRE></TD></TR>
<TR class=data><TD><PRE><a name="maint.groups"></a><div STYLE="font-family:Courier New,monospace;font-size:14px;font-weight:normal">
 <a href="#Hierarchy" title="MM.EQP.CDS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a>        <a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a>                <a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a> 
</div>
 <strong>maint.groups</strong>                         
<a STYLE="color: #808080;"><b>[mnemonic,maint.group]</b></a>
 <a STYLE="color: #808080;"><b>&(M)MUE[mue]MG[mum]</b></a>                                                  

<table class=seg> <td class=col1><strong>Field Name</strong></td>  <td class=col2><strong>Len</strong></td>  <td class=col3><strong>Data Type</strong></td>  <td class=col4><strong>J</strong></td>  <td class=col5><strong>DPM Pointer</strong></td>  <td class=col1><strong>Offset/Local/VAL</strong></td> 
<tr>  <td class=col1>&nbsp;maint.group</td>  <td class=col2>10</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href="MM_EQP_MAINT.htm" STYLE="text-decoration:none;color:#00F">MM.EQP.MAINT</a></td>  <td class=col6>mum</td>                                                  
</tr></table>
</PRE></TD></TR><div><a name="Indices"></a></div><container STYLE="font-family:Courier New,monospace;font-size:14px"><div STYLE="font-family:Courier New,monospace;font-size:14px;font-weight:normal"></div></TD></TR></TABLE><TABLE><TR class=data><TD><PRE></TD></TR></TABLE>
</BODY>
</HTML>
