<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/PR-html40/loose.dtd">
<HTML lang="en">
<HEAD>
  <TITLE>MM.EQP.MAINT Data Definitions</TITLE>
  <STYLE type="text/css">
    BODY { background: #fefefe; color: black;}
    SPAN.gdata { background: #eee;}
    TR.data { background: #fefefe;}
    TR.gdata { background: #eee;}
    SPAN.c1 { font-weight: bold;}
  </STYLE>
</HEAD>
<BODY>
<style>
table.seg {
    padding-right: 10px;
    text-align: left;
    vertical-align: top;
    border-style:none;
    margin: 8px;
    border-collapse: collapse;
    font: 14px "Courier New", monospace;
}
td.col1 {
    padding-right: 10px;
    width: 280px;
    min-width: 280px;
    max-width: 280px;}
td.col2 {
    padding-right: 10px;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    text-align: right;}
td.col3 {
    padding-right: 10px;
    width: 125px;
    min-width: 125px;
    max-width: 125px;}
td.col4 {
    padding-right: 10px;
    width: 15px;
    min-width: 15px;
    max-width: 15px;}
td.col5 {
    padding-right: 10px;
    width: 155px;
    min-width: 155px;
    max-width: 155px;}
td.col6 {
    padding-right: 10px;
    width: 1200px;
    min-width: 400px;
    max-width: 1200px;}
</style>
<TABLE width=100%><TR><TD><center><h2 STYLE="color:#000080;font-family:verdana,sans-serif;margin: 0px;font-size:24px">MM.EQP.MAINT Data Definitions</h2></center></form><h5 STYLE="color:#000080;font-family:verdana,sans-serif;margin: 5px;font-size:12px;text-align:center">(Client Server 6.15)</h5><div><a name="Hierarchy"></a></div><div STYLE="font-family:Courier New,monospace;font-size:14px;font-weight:normal"><TABLE border bgcolor=#cccccc><TR class=data><TD><PRE> <a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a>        <a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a>         
 <a href="#main" STYLE="text-decoration:none;color:#00F">main</a>                                                                                                                                 
 <a href="#fyi.user.info" STYLE="text-decoration:none;color:#00F">  fyi.user.info</a>                                                                                                                                 
 <a href="#users" STYLE="text-decoration:none;color:#00F">  users</a>                                                                                                                                 
</PRE></TD>
<TR class=data><TD><PRE><a name="main"></a><div STYLE="font-family:Courier New,monospace;font-size:14px;font-weight:normal">
 <a href="#Hierarchy" title="MM.EQP.MAINT Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a>                <a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a>        <a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a> 
</div>
 <strong>main</strong>                         
<a STYLE="color: #808080;"><b>[mnemonic]</b></a>
 <a STYLE="color: #808080;"><b>&(M)MUM[mum]</b></a>                                                  

<table class=seg> <td class=col1><strong>Field Name</strong></td>  <td class=col2><strong>Len</strong></td>  <td class=col3><strong>Data Type</strong></td>  <td class=col4><strong>J</strong></td>  <td class=col5><strong>DPM Pointer</strong></td>  <td class=col1><strong>Offset/Local/VAL</strong></td> 
<tr>  <td class=col1>&nbsp;mnemonic</td>  <td class=col2>10</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>mum</td>                                                  
</tr><tr>  <td class=col1>&nbsp;active</td>  <td class=col2>1</td>  <td class=col3>YN</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>&(M)MUM[mum]|0</td>                                                  
</tr><tr>  <td class=col1>&nbsp;last.update</td>  <td class=col2>10</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>&(M)MUM[mum]UPD</td>                                                  
</tr><tr>  <td class=col1>&nbsp;name</td>  <td class=col2>30</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>&(M)MUM[mum]|1</td>                                                  
</tr><tr>  <td class=col1>&nbsp;user.ok</td>  <td class=col2>1</td>  <td class=col3>YN</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>VAL=IF{%MM.EQP.MAINT.user.ok(mnemonic) "Y";"N"}</td>                                                  
</tr></table>
</PRE></TD></TR>
<TR class=data><TD><PRE><a name="fyi.user.info"></a><div STYLE="font-family:Courier New,monospace;font-size:14px;font-weight:normal">
 <a href="#Hierarchy" title="MM.EQP.MAINT Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a>        <a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a>        <a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a>        <a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a> 
</div>
 <strong>fyi.user.info</strong>                         
<a STYLE="color: #808080;"><b>[mnemonic,fyi.user]</b></a>
 <a STYLE="color: #808080;"><b>&(M)MUM[mum]FY[guFY]</b></a>                                                  

<table class=seg> <td class=col1><strong>Field Name</strong></td>  <td class=col2><strong>Len</strong></td>  <td class=col3><strong>Data Type</strong></td>  <td class=col4><strong>J</strong></td>  <td class=col5><strong>DPM Pointer</strong></td>  <td class=col1><strong>Offset/Local/VAL</strong></td> 
<tr>  <td class=col1>&nbsp;fyi.user</td>  <td class=col2>10</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href="../MIS/MIS_USER.htm" STYLE="text-decoration:none;color:#00F">MIS.USER</a></td>  <td class=col6>guFY</td>                                                  
</tr><tr>  <td class=col1>&nbsp;fyi.email</td>  <td class=col2>1</td>  <td class=col3>YN</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>&(M)MUM[mum]FY[guFY]|0</td>                                                  
</tr><tr>  <td class=col1>&nbsp;fyi.task</td>  <td class=col2>1</td>  <td class=col3>YN</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>&(M)MUM[mum]FY[guFY]|1</td>                                                  
</tr></table>
</PRE></TD></TR>
<TR class=data><TD><PRE><a name="users"></a><div STYLE="font-family:Courier New,monospace;font-size:14px;font-weight:normal">
 <a href="#Hierarchy" title="MM.EQP.MAINT Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a>        <a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a>        <a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a>        <a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a> 
</div>
 <strong>users</strong>                         
<a STYLE="color: #808080;"><b>[mnemonic,user]</b></a>
 <a STYLE="color: #808080;"><b>&(M)MUM[mum]U[gu]</b></a>                                                  

<table class=seg> <td class=col1><strong>Field Name</strong></td>  <td class=col2><strong>Len</strong></td>  <td class=col3><strong>Data Type</strong></td>  <td class=col4><strong>J</strong></td>  <td class=col5><strong>DPM Pointer</strong></td>  <td class=col1><strong>Offset/Local/VAL</strong></td> 
<tr>  <td class=col1>&nbsp;user</td>  <td class=col2>10</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href="../MIS/MIS_USER.htm" STYLE="text-decoration:none;color:#00F">MIS.USER</a></td>  <td class=col6>gu</td>                                                  
</tr></table>
</PRE></TD></TR></TD></TR><TR class=data><TD><PRE>
<div><a name="Indices"></a></div><container STYLE="font-family:Courier New,monospace;font-size:14px"><div STYLE="font-family:Courier New,monospace;font-size:14px;font-weight:normal"> <a href="#Hierarchy" title="MM.EQP.MAINT Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a>        <a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a>         
</div>
 <SPAN class=c1>Index File</SPAN>                               <SPAN class=c1>Subscripts/Physical Base</SPAN>

 map.x                                   [user,mnemonic]                                                                                     
                                              &amp;(M)MUMX[gu,mum]                                                        

</TD></TR></TABLE><TABLE><TR class=data><TD><PRE></TD></TR></TABLE>
</BODY>
</HTML>
