<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/PR-html40/loose.dtd">
<HTML lang="en">
<HEAD>
  <TITLE>MM.IREQ.TEMP Data Definitions</TITLE>
  <STYLE type="text/css">
    BODY { background: #fefefe; color: black;}
    SPAN.gdata { background: #eee;}
    TR.data { background: #fefefe;}
    TR.gdata { background: #eee;}
    SPAN.c1 { font-weight: bold;}
  </STYLE>
</HEAD>
<BODY>
<style>
table.seg {
    padding-right: 10px;
    text-align: left;
    vertical-align: top;
    border-style:none;
    margin: 8px;
    border-collapse: collapse;
    font: 14px "Courier New", monospace;
}
td.col1 {
    padding-right: 10px;
    width: 280px;
    min-width: 280px;
    max-width: 280px;}
td.col2 {
    padding-right: 10px;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    text-align: right;}
td.col3 {
    padding-right: 10px;
    width: 125px;
    min-width: 125px;
    max-width: 125px;}
td.col4 {
    padding-right: 10px;
    width: 15px;
    min-width: 15px;
    max-width: 15px;}
td.col5 {
    padding-right: 10px;
    width: 155px;
    min-width: 155px;
    max-width: 155px;}
td.col6 {
    padding-right: 10px;
    width: 1200px;
    min-width: 400px;
    max-width: 1200px;}
</style>
<TABLE width=100%><TR><TD><center><h2 STYLE="color:#000080;font-family:verdana,sans-serif;margin: 0px;font-size:24px">MM.IREQ.TEMP Data Definitions</h2></center></form><h5 STYLE="color:#000080;font-family:verdana,sans-serif;margin: 5px;font-size:12px;text-align:center">(Client Server 6.15)</h5><div><a name="Hierarchy"></a></div><div STYLE="font-family:Courier New,monospace;font-size:14px;font-weight:normal"><TABLE border bgcolor=#cccccc><TR class=data><TD><PRE> <a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a>        <a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a>         
 <a href="#main" STYLE="text-decoration:none;color:#00F">main</a>                                                                                                                                 
 <a href="#lines" STYLE="text-decoration:none;color:#00F">  lines</a>                                                                                                                                 
 <a href="#deliver.to.locations" STYLE="text-decoration:none;color:#00F">    deliver.to.locations</a>                                                                                                                                 
 <a href="#req.categories" STYLE="text-decoration:none;color:#00F">  req.categories</a>                                                                                                                                 
 <a href="#users" STYLE="text-decoration:none;color:#00F">  users</a>                                                                                                                                 
</PRE></TD>
<TR class=data><TD><PRE><a name="main"></a><div STYLE="font-family:Courier New,monospace;font-size:14px;font-weight:normal">
 <a href="#Hierarchy" title="MM.IREQ.TEMP Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a>                <a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a>        <a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a> 
</div>
 <strong>main</strong>                         
<a STYLE="color: #808080;"><b>[mnemonic]</b></a>
 <a STYLE="color: #808080;"><b>&(M)MCTI[mcti]</b></a>                                                  

<table class=seg> <td class=col1><strong>Field Name</strong></td>  <td class=col2><strong>Len</strong></td>  <td class=col3><strong>Data Type</strong></td>  <td class=col4><strong>J</strong></td>  <td class=col5><strong>DPM Pointer</strong></td>  <td class=col1><strong>Offset/Local/VAL</strong></td> 
<tr>  <td class=col1>&nbsp;mnemonic</td>  <td class=col2>15</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>mcti</td>                                                  
</tr><tr>  <td class=col1>&nbsp;active</td>  <td class=col2>1</td>  <td class=col3>YN</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>&(M)MCTI[mcti]|0</td>                                                  
</tr><tr>  <td class=col1>&nbsp;check</td>  <td class=col2>1</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>VAL=IF{%MM.IREQ.TEMP.security(mnemonic);0}</td>                                                  
</tr><tr>  <td class=col1>&nbsp;department</td>  <td class=col2>15</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href="../MIS/MIS_GL_DEPT.htm" STYLE="text-decoration:none;color:#00F">MIS.GL.DEPT</a></td>  <td class=col6>&(M)MCTI[mcti]|2</td>                                                  
</tr><tr>  <td class=col1>&nbsp;description</td>  <td class=col2>30</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>&(M)MCTI[mcti]|4</td>                                                  
</tr><tr>  <td class=col1>&nbsp;display.order</td>  <td class=col2>14</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>&(M)MCTI[mcti]|6</td>                                                  
</tr><tr>  <td class=col1>&nbsp;last.upd.user</td>  <td class=col2>10</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href="../MIS/MIS_USER.htm" STYLE="text-decoration:none;color:#00F">MIS.USER</a></td>  <td class=col6>&(M)MCTI[mcti]|3</td>                                                  
</tr><tr>  <td class=col1>&nbsp;last.update</td>  <td class=col2>10</td>  <td class=col3>PINT</td>  <td class=col4>R</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>&(M)MCTI[mcti]UPD</td>                                                  
</tr><tr>  <td class=col1>&nbsp;line.cnt</td>  <td class=col2>3</td>  <td class=col3>PINT</td>  <td class=col4>R</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>&(M)MCTI[mcti]|5</td>                                                  
</tr><tr>  <td class=col1>&nbsp;nonstk.req</td>  <td class=col2>15</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href="MM_NONSTK_REQ.htm" STYLE="text-decoration:none;color:#00F">MM.NONSTK.REQ</a></td>  <td class=col6></td>                                                  
</tr><tr>  <td class=col1>&nbsp;purch.facility</td>  <td class=col2>10</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href="../MIS/MIS_PUR_FAC.htm" STYLE="text-decoration:none;color:#00F">MIS.PUR.FAC</a></td>  <td class=col6>&(M)MCTI[mcti]|1</td>                                                  
</tr><tr>  <td class=col1>&nbsp;rec.req</td>  <td class=col2>15</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href="MM_REC_REQ.htm" STYLE="text-decoration:none;color:#00F">MM.REC.REQ</a></td>  <td class=col6></td>                                                  
</tr></table>
</PRE></TD></TR>
<TR class=data><TD><PRE><a name="lines"></a><div STYLE="font-family:Courier New,monospace;font-size:14px;font-weight:normal">
 <a href="#Hierarchy" title="MM.IREQ.TEMP Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a>        <a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a>        <a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a>        <a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a> 
</div>
 <strong>lines</strong>                         
<a STYLE="color: #808080;"><b>[mnemonic,line.no]</b></a>
 <a STYLE="color: #808080;"><b>&(M)MCTI[mcti]L[mctL]</b></a>                                                  

<table class=seg> <td class=col1><strong>Field Name</strong></td>  <td class=col2><strong>Len</strong></td>  <td class=col3><strong>Data Type</strong></td>  <td class=col4><strong>J</strong></td>  <td class=col5><strong>DPM Pointer</strong></td>  <td class=col1><strong>Offset/Local/VAL</strong></td> 
<tr>  <td class=col1>&nbsp;line.no</td>  <td class=col2>3</td>  <td class=col3>PINT</td>  <td class=col4>R</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>mctL</td>                                                  
</tr><tr>  <td class=col1>&nbsp;approx.cost</td>  <td class=col2>11</td>  <td class=col3>DEC4</td>  <td class=col4>R</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>&(M)MCTI[mcti]L[mctL]|13</td>                                                  
</tr><tr>  <td class=col1>&nbsp;ee.del.to</td>  <td class=col2>1</td>  <td class=col3>YN</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>&(M)MCTI[mcti]L[mctL]|10</td>                                                  
</tr><tr>  <td class=col1>&nbsp;ee.new</td>  <td class=col2>1</td>  <td class=col3>YN</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>&(M)MCTI[mcti]L[mctL]|12</td>                                                  
</tr><tr>  <td class=col1>&nbsp;inventory</td>  <td class=col2>10</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href="MM_INVENT.htm" STYLE="text-decoration:none;color:#00F">MM.INVENT</a></td>  <td class=col6>&(M)MCTI[mcti]L[mctL]|5</td>                                                  
</tr><tr>  <td class=col1>&nbsp;item.no</td>  <td class=col2>12</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>&(M)MCTI[mcti]L[mctL]|0</td>                                                  
</tr><tr>  <td class=col1>&nbsp;item.pkg.ptr</td>  <td class=col2>4</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>&(M)MCTI[mcti]L[mctL]|11</td>                                                  
</tr><tr>  <td class=col1>&nbsp;item.qty</td>  <td class=col2>4</td>  <td class=col3>SINT</td>  <td class=col4>R</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>&(M)MCTI[mcti]L[mctL]|7</td>                                                  
</tr><tr>  <td class=col1>&nbsp;item.tx.cd</td>  <td class=col2>3</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href="../MIS/MIS_TAX_CODE.htm" STYLE="text-decoration:none;color:#00F">MIS.TAX.CODE</a></td>  <td class=col6>&(M)MCTI[mcti]L[mctL]|8</td>                                                  
</tr><tr>  <td class=col1>&nbsp;item.unit</td>  <td class=col2>10</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>&(M)MCTI[mcti]L[mctL]|6</td>                                                  
</tr><tr>  <td class=col1>&nbsp;item.urn</td>  <td class=col2>43</td>  <td class=col3>URN</td>  <td class=col4>L</td>  <td class=col5><a href="MM_ITEM.htm" STYLE="text-decoration:none;color:#00F">MM.ITEM</a></td>  <td class=col6>&(M)MCTI[mcti]L[mctL]|1</td>                                                  
</tr><tr>  <td class=col1>&nbsp;jit</td>  <td class=col2>1</td>  <td class=col3>YN</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>&(M)MCTI[mcti]L[mctL]|9</td>                                                  
</tr><tr>  <td class=col1>&nbsp;stock.no</td>  <td class=col2>18</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>&(M)MCTI[mcti]L[mctL]|3</td>                                                  
</tr><tr>  <td class=col1>&nbsp;stock.urn</td>  <td class=col2>18</td>  <td class=col3>URN</td>  <td class=col4>L</td>  <td class=col5><a href="MM_STOCK.htm" STYLE="text-decoration:none;color:#00F">MM.STOCK</a></td>  <td class=col6>&(M)MCTI[mcti]L[mctL]|2</td>                                                  
</tr><tr>  <td class=col1>&nbsp;vendor</td>  <td class=col2>11</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href="../MIS/MIS_VEN.htm" STYLE="text-decoration:none;color:#00F">MIS.VEN</a></td>  <td class=col6>&(M)MCTI[mcti]L[mctL]|4</td>                                                  
</tr></table>
</PRE></TD></TR>
<TR class=data><TD><PRE><a name="deliver.to.locations"></a><div STYLE="font-family:Courier New,monospace;font-size:14px;font-weight:normal">
 <a href="#Hierarchy" title="MM.IREQ.TEMP Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a>        <a href="#lines" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a>        <a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a>        <a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a> 
</div>
 <strong>deliver.to.locations</strong>                         
<a STYLE="color: #808080;"><b>[mnemonic,line.no,location]</b></a>
 <a STYLE="color: #808080;"><b>&(M)MCTI[mcti]L[mctL]DL[mrq]</b></a>                                                  

<table class=seg> <td class=col1><strong>Field Name</strong></td>  <td class=col2><strong>Len</strong></td>  <td class=col3><strong>Data Type</strong></td>  <td class=col4><strong>J</strong></td>  <td class=col5><strong>DPM Pointer</strong></td>  <td class=col1><strong>Offset/Local/VAL</strong></td> 
<tr>  <td class=col1>&nbsp;location</td>  <td class=col2>15</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href="MM_DEL_TO.htm" STYLE="text-decoration:none;color:#00F">MM.DEL.TO</a></td>  <td class=col6>mrq</td>                                                  
</tr><tr>  <td class=col1>&nbsp;instructions</td>  <td class=col2>30</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>&(M)MCTI[mcti]L[mctL]DL[mrq]|0</td>                                                  
</tr></table>
</PRE></TD></TR>
<TR class=data><TD><PRE><a name="req.categories"></a><div STYLE="font-family:Courier New,monospace;font-size:14px;font-weight:normal">
 <a href="#Hierarchy" title="MM.IREQ.TEMP Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a>        <a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a>        <a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a>        <a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a> 
</div>
 <strong>req.categories</strong>                         
<a STYLE="color: #808080;"><b>[mnemonic,req.cat]</b></a>
 <a STYLE="color: #808080;"><b>&(M)MCTI[mcti]CT[mlc]</b></a>                                                  

<table class=seg> <td class=col1><strong>Field Name</strong></td>  <td class=col2><strong>Len</strong></td>  <td class=col3><strong>Data Type</strong></td>  <td class=col4><strong>J</strong></td>  <td class=col5><strong>DPM Pointer</strong></td>  <td class=col1><strong>Offset/Local/VAL</strong></td> 
<tr>  <td class=col1>&nbsp;req.cat</td>  <td class=col2>8</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href="MM_REQ_CAT.htm" STYLE="text-decoration:none;color:#00F">MM.REQ.CAT</a></td>  <td class=col6>mlc</td>                                                  
</tr></table>
</PRE></TD></TR>
<TR class=data><TD><PRE><a name="users"></a><div STYLE="font-family:Courier New,monospace;font-size:14px;font-weight:normal">
 <a href="#Hierarchy" title="MM.IREQ.TEMP Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a>        <a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a>        <a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a>        <a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a> 
</div>
 <strong>users</strong>                         
<a STYLE="color: #808080;"><b>[mnemonic,user]</b></a>
 <a STYLE="color: #808080;"><b>&(M)MCTI[mcti]U[gu]</b></a>                                                  

<table class=seg> <td class=col1><strong>Field Name</strong></td>  <td class=col2><strong>Len</strong></td>  <td class=col3><strong>Data Type</strong></td>  <td class=col4><strong>J</strong></td>  <td class=col5><strong>DPM Pointer</strong></td>  <td class=col1><strong>Offset/Local/VAL</strong></td> 
<tr>  <td class=col1>&nbsp;user</td>  <td class=col2>10</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href="../MIS/MIS_USER.htm" STYLE="text-decoration:none;color:#00F">MIS.USER</a></td>  <td class=col6>gu</td>                                                  
</tr></table>
</PRE></TD></TR></TD></TR><TR class=data><TD><PRE>
<div><a name="Indices"></a></div><container STYLE="font-family:Courier New,monospace;font-size:14px"><div STYLE="font-family:Courier New,monospace;font-size:14px;font-weight:normal"> <a href="#Hierarchy" title="MM.IREQ.TEMP Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a>        <a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a>         
</div>
 <SPAN class=c1>Index File</SPAN>                               <SPAN class=c1>Subscripts/Physical Base</SPAN>

 desc.x                                  [description,mnemonic] = active                                                                     
                                              &amp;(M)MCTID[mctDSC,mcti]                                                  

 fac.x                                   [purch.facility,mnemonic] = active                                                                  
                                              &amp;(M)MCTIF[mw,mcti]                                                      

 item.x                                  [item.urn,mnemonic,line.no]                                                                         
                                              &amp;(M)MCTII[mt,mcti,mctL]                                                 

 req.cat.x                               [req.cat,mnemonic]                                                                                  
                                              &amp;(M)MCRTCX[mlc,mcti]                                                    

 stock.x                                 [stock.urn,mnemonic,line.no]                                                                        
                                              &amp;(M)MCTIS[ms,mcti,mctL]                                                 

</TD></TR></TABLE><TABLE><TR class=data><TD><PRE></TD></TR></TABLE>
</BODY>
</HTML>
