<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/PR-html40/loose.dtd">
<HTML lang="en">
<HEAD>
  <TITLE>GL.STATUS Data Definitions</TITLE>
  <STYLE type="text/css">
    BODY { background: #fefefe; color: black;}
    SPAN.gdata { background: #eee;}
    TR.data { background: #fefefe;}
    TR.gdata { background: #eee;}
  </STYLE>
</HEAD>
<BODY>
<style>
table.seg {
    padding-right: 10px;
    text-align: left;
    vertical-align: top;
    border-style:none;
    margin: 8px;
    border-collapse: collapse;
    font: 14px "Courier New", monospace;
}
td.col1 {
    padding-right: 10px;
    width: 280px;
    min-width: 280px;
    max-width: 280px;}
td.col2 {
    padding-right: 10px;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    text-align: right;}
td.col3 {
    padding-right: 10px;
    width: 125px;
    min-width: 125px;
    max-width: 125px;}
td.col4 {
    padding-right: 10px;
    width: 15px;
    min-width: 15px;
    max-width: 15px;}
td.col5 {
    padding-right: 10px;
    width: 155px;
    min-width: 155px;
    max-width: 155px;}
td.col6 {
    padding-right: 10px;
    width: 1200px;
    min-width: 400px;
    max-width: 1200px;}
</style>
<TABLE width=100%><TR><TD><center><h2 STYLE="color:#000080;font-family:verdana,sans-serif;margin: 0px;font-size:24px">GL.STATUS Data Definitions</h2></center></form><h5 STYLE="color:#000080;font-family:verdana,sans-serif;margin: 5px;font-size:12px;text-align:center">(Client Server 6.15)</h5><div><a name="Hierarchy"></a></div><div STYLE="font-family:Courier New,monospace;font-size:14px;font-weight:normal"><TABLE border bgcolor=#cccccc><TR class=data><TD><PRE>         <a href="GLdpm.htm" title="GL DPMs"><font face="Webdings" size="+2">2</size></font></a>         
 <a href="#alt.msgs" STYLE="text-decoration:none;color:#00F">alt.msgs</a>                                                                                                                                 
 <a href="#main" STYLE="text-decoration:none;color:#00F">main</a>                                                                                                                                 
 <a href="#ccs.feeder.gls" STYLE="text-decoration:none;color:#00F">  ccs.feeder.gls</a>                                                                                                                                 
</PRE></TD>
<TR class=data><TD><PRE><a name="alt.msgs"></a><div STYLE="font-family:Courier New,monospace;font-size:14px;font-weight:normal">
 <a href="#Hierarchy" title="GL.STATUS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a>                        <a href="GLdpm.htm" title="GL DPMs"><font face="Webdings" size="+2">2</size></font></a> 
</div>
 <strong>alt.msgs</strong>                         
<a STYLE="color: #808080;"><b>[]</b></a>
 <a STYLE="color: #808080;"><b>*(L)LSTATUS["Q"]</b></a>                                                  

<table class=seg> <td class=col1><strong>Field Name</strong></td>  <td class=col2><strong>Len</strong></td>  <td class=col3><strong>Data Type</strong></td>  <td class=col4><strong>J</strong></td>  <td class=col5><strong>DPM Pointer</strong></td>  <td class=col1><strong>Offset/Local/VAL</strong></td> 
<tr>  <td class=col1>&nbsp;alt.bkg.msg</td>  <td class=col2>50</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>*(L)LSTATUS["Q"]|0</td>                                                  
</tr><tr>  <td class=col1>&nbsp;alt.scrn.display</td>  <td class=col2>17</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>*(L)LSTATUS["Q"]|1</td>                                                  
</tr><tr>  <td class=col1>&nbsp;alt.upd.stamp</td>  <td class=col2>17</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>VAL=IF{%Z.date.out(@.update.today)_" at "_%Z.time.</br>VAL=dollar(@.sd)}</td>                                                  
</tr></table>
</PRE></TD></TR>
<TR class=data><TD><PRE><a name="main"></a><div STYLE="font-family:Courier New,monospace;font-size:14px;font-weight:normal">
 <a href="#Hierarchy" title="GL.STATUS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a>                        <a href="GLdpm.htm" title="GL DPMs"><font face="Webdings" size="+2">2</size></font></a> 
</div>
 <strong>main</strong>                         
<a STYLE="color: #808080;"><b>[]</b></a>
 <a STYLE="color: #808080;"><b>*(L)LSTATUS</b></a>                                                  

<table class=seg> <td class=col1><strong>Field Name</strong></td>  <td class=col2><strong>Len</strong></td>  <td class=col3><strong>Data Type</strong></td>  <td class=col4><strong>J</strong></td>  <td class=col5><strong>DPM Pointer</strong></td>  <td class=col1><strong>Offset/Local/VAL</strong></td> 
<tr>  <td class=col1>&nbsp;ccs.rollup.switch</td>  <td class=col2>4</td>  <td class=col3>CHOICE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>*(L)LSTATUS["CCS"]|0</td>                                                  
</tr><tr>  <td class=col1>&nbsp;conv.lock</td>  <td class=col2>6</td>  <td class=col3>CHOICE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>*(L)LSTATUS|4</td>                                                  
</tr><tr>  <td class=col1>&nbsp;conv.money.ok</td>  <td class=col2>1</td>  <td class=col3>YN</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>*(L)LSTATUS|13</td>                                                  
</tr><tr>  <td class=col1>&nbsp;conv.stats.ok</td>  <td class=col2>1</td>  <td class=col3>YN</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>*(L)LSTATUS|14</td>                                                  
</tr><tr>  <td class=col1>&nbsp;current.period.end.date</td>  <td class=col2>8</td>  <td class=col3>DATE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>*(L)LSTATUS|0</td>                                                  
</tr><tr>  <td class=col1>&nbsp;current.period.name</td>  <td class=col2>10</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>VAL=@MIS.GL.PERIOD.date.x[@GL.STATUS.current.perio</br>VAL=d.end.date]</td>                                                  
</tr><tr>  <td class=col1>&nbsp;day.being.closed</td>  <td class=col2>8</td>  <td class=col3>DATE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>*(L)LSTATUS|2</td>                                                  
</tr><tr>  <td class=col1>&nbsp;file.software.version</td>  <td class=col2>10</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>*(L)LSTATUS|6</td>                                                  
</tr><tr>  <td class=col1>&nbsp;last.date.closed</td>  <td class=col2>8</td>  <td class=col3>DATE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>*(L)LSTATUS|1</td>                                                  
</tr><tr>  <td class=col1>&nbsp;last.system.ipl</td>  <td class=col2>12</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>*(L)LSTATUS|5</td>                                                  
</tr><tr>  <td class=col1>&nbsp;period.being.closed</td>  <td class=col2>8</td>  <td class=col3>DATE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>*(L)LSTATUS|3</td>                                                  
</tr><tr>  <td class=col1>&nbsp;period.close.status</td>  <td class=col2>8</td>  <td class=col3>CHOICE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>*(L)LSTATUS|16</td>                                                  
</tr><tr>  <td class=col1>&nbsp;prevent.close.day.after</td>  <td class=col2>8</td>  <td class=col3>DATE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>*(L)LSTATUS|11</td>                                                  
</tr><tr>  <td class=col1>&nbsp;prevent.purge</td>  <td class=col2>1</td>  <td class=col3>YN</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>*(L)LSTATUS|15</td>                                                  
</tr><tr>  <td class=col1>&nbsp;prevent.read.from.appls</td>  <td class=col2>1</td>  <td class=col3>YN</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>*(L)LSTATUS|12</td>                                                  
</tr><tr>  <td class=col1>&nbsp;recur.sched.created</td>  <td class=col2>10</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>*(L)LSTATUS|17</td>                                                  
</tr><tr>  <td class=col1>&nbsp;sdv.access.dict</td>  <td class=col2>5</td>  <td class=col3>PINT</td>  <td class=col4>R</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>*(L)LSTATUS["SDV"]|0</td>                                                  
</tr><tr>  <td class=col1>&nbsp;sdv.desktop</td>  <td class=col2>5</td>  <td class=col3>PINT</td>  <td class=col4>R</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>*(L)LSTATUS["SDV"]|2</td>                                                  
</tr><tr>  <td class=col1>&nbsp;sdv.recur.sched.dict</td>  <td class=col2>5</td>  <td class=col3>PINT</td>  <td class=col4>R</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>*(L)LSTATUS["SDV"]|1</td>                                                  
</tr><tr>  <td class=col1>&nbsp;self.bal.on.spec.curr.per</td>  <td class=col2>8</td>  <td class=col3>DATE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>*(L)LSTATUS|10</td>                                                  
</tr><tr>  <td class=col1>&nbsp;self.bal.on.spec.post.per</td>  <td class=col2>8</td>  <td class=col3>DATE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>*(L)LSTATUS|9</td>                                                  
</tr><tr>  <td class=col1>&nbsp;self.balance.on.special</td>  <td class=col2>3</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href="../MIS/MIS_GL_COMP.htm" STYLE="text-decoration:none;color:#00F">MIS.GL.COMP</a></td>  <td class=col6>*(L)LSTATUS|8</td>                                                  
</tr><tr>  <td class=col1>&nbsp;temp.purge.clear</td>  <td class=col2>1</td>  <td class=col3>YN</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>VAL=IF{>@GL.PURGE.temp.x[""] "N";"Y"}</td>                                                  
</tr><tr>  <td class=col1>&nbsp;version.flag</td>  <td class=col2>13</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>*(L)LSTATUS|7</td>                                                  
</tr></table>
</PRE></TD></TR>
<TR class=data><TD><PRE><a name="ccs.feeder.gls"></a><div STYLE="font-family:Courier New,monospace;font-size:14px;font-weight:normal">
 <a href="#Hierarchy" title="GL.STATUS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a>        <a href="#ccs.main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a>                <a href="GLdpm.htm" title="GL DPMs"><font face="Webdings" size="+2">2</size></font></a> 
</div>
 <strong>ccs.feeder.gls</strong>                         
<a STYLE="color: #808080;"><b>[ccs.feeder.gl]</b></a>
 <a STYLE="color: #808080;"><b>*(L)LSTATUS["CCS"]F[huzcx]</b></a>                                                  

<table class=seg> <td class=col1><strong>Field Name</strong></td>  <td class=col2><strong>Len</strong></td>  <td class=col3><strong>Data Type</strong></td>  <td class=col4><strong>J</strong></td>  <td class=col5><strong>DPM Pointer</strong></td>  <td class=col1><strong>Offset/Local/VAL</strong></td> 
<tr>  <td class=col1>&nbsp;ccs.feeder.gl</td>  <td class=col2>12</td>  <td class=col3>FREE</td>  <td class=col4>L</td>  <td class=col5><a href="../UNV/UNV_EXT_DB.htm" STYLE="text-decoration:none;color:#00F">UNV.EXT.DB</a></td>  <td class=col6>huzcx</td>                                                  
</tr><tr>  <td class=col1>&nbsp;ccs.fg.cur.per.end.dt</td>  <td class=col2>10</td>  <td class=col3>GLPERIOD</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>*(L)LSTATUS["CCS"]F[huzcx]|0</td>                                                  
</tr><tr>  <td class=col1>&nbsp;ccs.fg.last.dt.closed</td>  <td class=col2>8</td>  <td class=col3>DATE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>*(L)LSTATUS["CCS"]F[huzcx]|1</td>                                                  
</tr><tr>  <td class=col1>&nbsp;ccs.fg.last.dt.read</td>  <td class=col2>8</td>  <td class=col3>DATE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>*(L)LSTATUS["CCS"]F[huzcx]|2</td>                                                  
</tr><tr>  <td class=col1>&nbsp;ccs.fg.last.index.dt</td>  <td class=col2>8</td>  <td class=col3>DATE</td>  <td class=col4>L</td>  <td class=col5><a href=".htm" STYLE="text-decoration:none;color:#00F"></a></td>  <td class=col6>VAL=-@GL.BATCH.ccs.crf.feeder.date.x[ccs.feeder.gl</br>VAL=,""]</td>                                                  
</tr></table>
</PRE></TD></TR><div><a name="Indices"></a></div><container STYLE="font-family:Courier New,monospace;font-size:14px"><div STYLE="font-family:Courier New,monospace;font-size:14px;font-weight:normal"></div></TD></TR></TABLE><TABLE><TR class=data><TD><PRE></TD></TR></TABLE>
</BODY>
</HTML>
