<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>GL.STATUS Data Definitions</title>
    <link rel="stylesheet" type="text/css" href="../../../style/site.css" />
    <link rel="stylesheet" type="text/css" href="../../../style/dpm.css" />
  </head>
  <body>
    <h2>GL.STATUS Data Definitions</h2>
    <h5>(Client Server 6.15)</h5>
    <div id="wrap">
      <div id="hierarchy">
        <a name="Hierarchy"></a>
        <ul class="nav">
          <li>&#160;</li>
          <li><a href="GLdpm.htm" title="GL DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div><a href="#alt.msgs">alt.msgs</a></div>
        <div><a href="#main">main</a></div>
        <div><a href="#ccs.feeder.gls">ccs.feeder.gls</a></div>
      </div>
      <div class="seg">
        <div><a name="alt.msgs"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="GL.STATUS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li>&#160;</li>
          <li>&#160;</li>
          <li><a href="GLdpm.htm" title="GL DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">alt.msgs</div>
        <div class="subs">[]</div>
        <div class="phys">*(L)LSTATUS[&#34;Q&#34;]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">alt.bkg.msg</td>
              <td class="col2">50</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS[&#34;Q&#34;]|0</td>
            </tr>
            <tr>
              <td class="col1">alt.scrn.display</td>
              <td class="col2">17</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS[&#34;Q&#34;]|1</td>
            </tr>
            <tr>
              <td class="col1">alt.upd.stamp</td>
              <td class="col2">17</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=IF{%Z.date.out(@.update.today)_&#34;&#160;at&#160;&#34;_%Z.time.<br />VAL=dollar(@.sd)}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="main"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="GL.STATUS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li>&#160;</li>
          <li>&#160;</li>
          <li><a href="GLdpm.htm" title="GL DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">main</div>
        <div class="subs">[]</div>
        <div class="phys">*(L)LSTATUS</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">ccs.rollup.switch</td>
              <td class="col2">4</td>
              <td class="col3">CHOICE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS[&#34;CCS&#34;]|0</td>
            </tr>
            <tr>
              <td class="col1">cfs.records.conv.count</td>
              <td class="col2">10</td>
              <td class="col3">INT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS[&#34;R&#34;,lrel]C[lcfs]VARS|1</td>
            </tr>
            <tr>
              <td class="col1">cfs.records.conv.var</td>
              <td class="col2">5</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS[&#34;R&#34;,lrel]C[lcfs]VARS|0</td>
            </tr>
            <tr>
              <td class="col1">cfs.var1</td>
              <td class="col2">5</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS[&#34;R&#34;,lrel]C[lcfs]VARS|2</td>
            </tr>
            <tr>
              <td class="col1">cfs.var1.value</td>
              <td class="col2">50</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS[&#34;R&#34;,lrel]C[lcfs]VARS|3</td>
            </tr>
            <tr>
              <td class="col1">cfs.var2</td>
              <td class="col2">5</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS[&#34;R&#34;,lrel]C[lcfs]VARS|4</td>
            </tr>
            <tr>
              <td class="col1">cfs.var2.value</td>
              <td class="col2">50</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS[&#34;R&#34;,lrel]C[lcfs]VARS|5</td>
            </tr>
            <tr>
              <td class="col1">cfs.var3</td>
              <td class="col2">5</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS[&#34;R&#34;,lrel]C[lcfs]VARS|6</td>
            </tr>
            <tr>
              <td class="col1">cfs.var3.value</td>
              <td class="col2">50</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS[&#34;R&#34;,lrel]C[lcfs]VARS|7</td>
            </tr>
            <tr>
              <td class="col1">cfs.variables.queue</td>
              <td class="col2">250</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS[&#34;R&#34;,lrel]C[lcfs]VARSVALUE</td>
            </tr>
            <tr>
              <td class="col1">conv.lock</td>
              <td class="col2">6</td>
              <td class="col3">CHOICE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS|4</td>
            </tr>
            <tr>
              <td class="col1">conv.money.ok</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS|13</td>
            </tr>
            <tr>
              <td class="col1">conv.stats.ok</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS|14</td>
            </tr>
            <tr>
              <td class="col1">current.period.end.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS|0</td>
            </tr>
            <tr>
              <td class="col1">current.period.name</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=@MIS.GL.PERIOD.date.x[@GL.STATUS.current.perio<br />VAL=d.end.date]</td>
            </tr>
            <tr>
              <td class="col1">last.date.closed</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS|1</td>
            </tr>
            <tr>
              <td class="col1">prevent.close.day.after</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS|11</td>
            </tr>
            <tr>
              <td class="col1">prevent.purge</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS|15</td>
            </tr>
            <tr>
              <td class="col1">prevent.read.from.appls</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS|12</td>
            </tr>
            <tr>
              <td class="col1">recur.sched.created</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS|17</td>
            </tr>
            <tr>
              <td class="col1">sdv.access.dict</td>
              <td class="col2">5</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS[&#34;SDV&#34;]|0</td>
            </tr>
            <tr>
              <td class="col1">sdv.budgets</td>
              <td class="col2">5</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS[&#34;SDV&#34;]|3</td>
            </tr>
            <tr>
              <td class="col1">sdv.desktop</td>
              <td class="col2">5</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS[&#34;SDV&#34;]|2</td>
            </tr>
            <tr>
              <td class="col1">sdv.recur.sched.dict</td>
              <td class="col2">5</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS[&#34;SDV&#34;]|1</td>
            </tr>
            <tr>
              <td class="col1">self.bal.on.spec.curr.per</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS|10</td>
            </tr>
            <tr>
              <td class="col1">self.bal.on.spec.post.per</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS|9</td>
            </tr>
            <tr>
              <td class="col1">self.balance.on.special</td>
              <td class="col2">3</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_GL_COMP.htm">MIS.GL.COMP</a></td>
              <td class="col6">*(L)LSTATUS|8</td>
            </tr>
            <tr>
              <td class="col1">temp.purge.clear</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=IF{&#62;@GL.PURGE.temp.x[&#34;&#34;]&#160;&#34;N&#34;;&#34;Y&#34;}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="ccs.feeder.gls"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="GL.STATUS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li>&#160;</li>
          <li><a href="GLdpm.htm" title="GL DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">ccs.feeder.gls</div>
        <div class="subs">[ccs.feeder.gl]</div>
        <div class="phys">*(L)LSTATUS[&#34;CCS&#34;]F[huzcx]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">ccs.feeder.gl</td>
              <td class="col2">12</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../UNV/UNV_EXT_DB.htm">UNV.EXT.DB</a></td>
              <td class="col6">huzcx</td>
            </tr>
            <tr>
              <td class="col1">ccs.fg.cur.per.end.dt</td>
              <td class="col2">10</td>
              <td class="col3">GLPERIOD</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS[&#34;CCS&#34;]F[huzcx]|0</td>
            </tr>
            <tr>
              <td class="col1">ccs.fg.last.dt.closed</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS[&#34;CCS&#34;]F[huzcx]|1</td>
            </tr>
            <tr>
              <td class="col1">ccs.fg.last.dt.read</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(L)LSTATUS[&#34;CCS&#34;]F[huzcx]|2</td>
            </tr>
            <tr>
              <td class="col1">ccs.fg.last.index.dt</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=-@GL.BATCH.ccs.crf.feeder.date.x[ccs.feeder.gl<br />VAL=,&#34;&#34;]</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>