<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>MM.DEL.TO Data Definitions</title>
    <link rel="stylesheet" type="text/css" href="../../../style/site.css" />
    <link rel="stylesheet" type="text/css" href="../../../style/dpm.css" />
  </head>
  <body>
    <h2>MM.DEL.TO Data Definitions</h2>
    <h5>(Client Server 6.15)</h5>
    <div id="wrap">
      <div id="hierarchy">
        <a name="Hierarchy"></a>
        <ul class="nav">
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div><a href="#main">main</a></div>
        <div>&#160;&#160;<a href="#comments">comments</a></div>
        <div>&#160;&#160;<a href="#contact">contact</a></div>
      </div>
      <div class="seg">
        <div><a name="main"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.DEL.TO Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li>&#160;</li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">main</div>
        <div class="subs">[mnemonic]</div>
        <div class="phys">&#38;(M)MRQ[mrq]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">mnemonic</td>
              <td class="col2">17</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">mrq</td>
            </tr>
            <tr>
              <td class="col1">active</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MRQ[mrq]|0</td>
            </tr>
            <tr>
              <td class="col1">additional</td>
              <td class="col2">15</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MRQ[mrq]AD|6</td>
            </tr>
            <tr>
              <td class="col1">addr1</td>
              <td class="col2">30</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MRQ[mrq]AD|0</td>
            </tr>
            <tr>
              <td class="col1">addr2</td>
              <td class="col2">30</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MRQ[mrq]AD|1</td>
            </tr>
            <tr>
              <td class="col1">addr3</td>
              <td class="col2">30</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MRQ[mrq]AD|2</td>
            </tr>
            <tr>
              <td class="col1">attention</td>
              <td class="col2">30</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MRQ[mrq]AD|8</td>
            </tr>
            <tr>
              <td class="col1">city</td>
              <td class="col2">20</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MRQ[mrq]AD|3</td>
            </tr>
            <tr>
              <td class="col1">dept</td>
              <td class="col2">15</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_GL_DEPT.htm">MIS.GL.DEPT</a></td>
              <td class="col6">&#38;(M)MRQ[mrq]|2</td>
            </tr>
            <tr>
              <td class="col1">dept.check</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=IF{%MIS.GL.DEPT.user.ok(dept)&#160;&#34;Y&#34;;&#34;N&#34;}</td>
            </tr>
            <tr>
              <td class="col1">fax</td>
              <td class="col2">30</td>
              <td class="col3">PHONE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MRQ[mrq]AD|7</td>
            </tr>
            <tr>
              <td class="col1">name</td>
              <td class="col2">30</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MRQ[mrq]|1</td>
            </tr>
            <tr>
              <td class="col1">state</td>
              <td class="col2">2</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MRQ[mrq]AD|4</td>
            </tr>
            <tr>
              <td class="col1">zip</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MRQ[mrq]AD|5</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="comments"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.DEL.TO Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">comments</div>
        <div class="subs">[mnemonic,comment.line.no]</div>
        <div class="phys">&#38;(M)MRQ[mrq]CM[mrqcn]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">comment.line.no</td>
              <td class="col2">3</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">mrqcn</td>
            </tr>
            <tr>
              <td class="col1">comment</td>
              <td class="col2">60</td>
              <td class="col3">TEXT</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MRQ[mrq]CM[mrqcn]VALUE</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="contact"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.DEL.TO Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">contact</div>
        <div class="subs">[mnemonic,contact.q]</div>
        <div class="phys">&#38;(M)MRQ[mrq]CT[mrqc]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">contact.q</td>
              <td class="col2">2</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">mrqc</td>
            </tr>
            <tr>
              <td class="col1">contact.name</td>
              <td class="col2">20</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MRQ[mrq]CT[mrqc]|0</td>
            </tr>
            <tr>
              <td class="col1">email</td>
              <td class="col2">60</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MRQ[mrq]CT[mrqc]|3</td>
            </tr>
            <tr>
              <td class="col1">ext</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MRQ[mrq]CT[mrqc]|2</td>
            </tr>
            <tr>
              <td class="col1">phone</td>
              <td class="col2">20</td>
              <td class="col3">PHONE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MRQ[mrq]CT[mrqc]|1</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>