<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>MM.EQP.MAINT Data Definitions</title>
    <link rel="stylesheet" type="text/css" href="../../../style/site.css" />
    <link rel="stylesheet" type="text/css" href="../../../style/dpm.css" />
  </head>
  <body>
    <h2>MM.EQP.MAINT Data Definitions</h2>
    <h5>(Client Server 6.15)</h5>
    <div id="wrap">
      <div id="hierarchy">
        <a name="Hierarchy"></a>
        <ul class="nav">
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div><a href="#main">main</a></div>
        <div>&#160;&#160;<a href="#fyi.user.info">fyi.user.info</a></div>
        <div>&#160;&#160;<a href="#users">users</a></div>
      </div>
      <div class="seg">
        <div><a name="main"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.EQP.MAINT Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li>&#160;</li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">main</div>
        <div class="subs">[mnemonic]</div>
        <div class="phys">&#38;(M)MUM[mum]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">mnemonic</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">mum</td>
            </tr>
            <tr>
              <td class="col1">active</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MUM[mum]|0</td>
            </tr>
            <tr>
              <td class="col1">last.update</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MUM[mum]UPD</td>
            </tr>
            <tr>
              <td class="col1">name</td>
              <td class="col2">30</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MUM[mum]|1</td>
            </tr>
            <tr>
              <td class="col1">user.ok</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=IF{%MM.EQP.MAINT.user.ok(mnemonic)&#160;&#34;Y&#34;;&#34;N&#34;}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="fyi.user.info"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.EQP.MAINT Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">fyi.user.info</div>
        <div class="subs">[mnemonic,fyi.user]</div>
        <div class="phys">&#38;(M)MUM[mum]FY[guFY]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">fyi.user</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_USER.htm">MIS.USER</a></td>
              <td class="col6">guFY</td>
            </tr>
            <tr>
              <td class="col1">fyi.email</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MUM[mum]FY[guFY]|0</td>
            </tr>
            <tr>
              <td class="col1">fyi.task</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MUM[mum]FY[guFY]|1</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="users"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.EQP.MAINT Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">users</div>
        <div class="subs">[mnemonic,user]</div>
        <div class="phys">&#38;(M)MUM[mum]U[gu]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">user</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_USER.htm">MIS.USER</a></td>
              <td class="col6">gu</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="ind">
        <div><a name="Indices"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.EQP.MAINT Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li>&#160;</li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="header">
          <div class="hdr1">Index Files</div>
          <div class="hdr2">Subscripts/Physical Base</div>
        </div>
        <div class="clear"></div>
        <table>
          <tr>
            <td class="name">map.x</td>
            <td class="src">[user,mnemonic]</td>
          </tr>
          <tr>
            <td class="obj" colspan="2">&(M)MUMX[gu,mum]</td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>