<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>MM.EQP Data Definitions</title>
    <link rel="stylesheet" type="text/css" href="../../../style/site.css" />
    <link rel="stylesheet" type="text/css" href="../../../style/dpm.css" />
  </head>
  <body>
    <h2>MM.EQP Data Definitions</h2>
    <h5>(Client Server 6.15)</h5>
    <div id="wrap">
      <div id="hierarchy">
        <a name="Hierarchy"></a>
        <ul class="nav">
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div><a href="#main">main</a></div>
        <div>&#160;&#160;<a href="#comments">comments</a></div>
        <div>&#160;&#160;<a href="#contr.ee">contr.ee</a></div>
        <div>&#160;&#160;<a href="#customer.defined.queries">customer.defined.queries</a></div>
        <div>&#160;&#160;&#160;&#160;<a href="#customer.def.mult.queries">customer.def.mult.queries</a></div>
        <div>&#160;&#160;<a href="#customer.defined.screens">customer.defined.screens</a></div>
        <div>&#160;&#160;<a href="#images">images</a></div>
        <div>&#160;&#160;&#160;&#160;<a href="#images.pages">images.pages</a></div>
        <div>&#160;&#160;<a href="#pm">pm</a></div>
        <div>&#160;&#160;<a href="#usage.by.date">usage.by.date</a></div>
        <div>&#160;&#160;<a href="#warranty">warranty</a></div>
      </div>
      <div class="seg">
        <div><a name="main"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.EQP Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li>&#160;</li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">main</div>
        <div class="subs">[id]</div>
        <div class="phys">*(M)MU[mu]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">id</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">mu</td>
            </tr>
            <tr>
              <td class="col1">active</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]|0</td>
            </tr>
            <tr>
              <td class="col1">cust.def.screen</td>
              <td class="col2">15</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_SCREEN.htm">MIS.SCREEN</a></td>
              <td class="col6">VAL=(+@customer.defined.screens[&#34;&#34;])</td>
            </tr>
            <tr>
              <td class="col1">date.acquired</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]|14</td>
            </tr>
            <tr>
              <td class="col1">dept</td>
              <td class="col2">15</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_GL_DEPT.htm">MIS.GL.DEPT</a></td>
              <td class="col6">*(M)MU[mu]|4</td>
            </tr>
            <tr>
              <td class="col1">dept.chk.ok</td>
              <td class="col2">15</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=IF{%MIS.GL.DEPT.user.ok(@dept^MGDP)&#160;MGDP}</td>
            </tr>
            <tr>
              <td class="col1">desc</td>
              <td class="col2">30</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]|1</td>
            </tr>
            <tr>
              <td class="col1">dft.eoc</td>
              <td class="col2">7</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_GL_EOC.htm">MIS.GL.EOC</a></td>
              <td class="col6">*(M)MU[mu]|15</td>
            </tr>
            <tr>
              <td class="col1">eqp.class</td>
              <td class="col2">8</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_EQP_CLASS.htm">MM.EQP.CLASS</a></td>
              <td class="col6">*(M)MU[mu]|3</td>
            </tr>
            <tr>
              <td class="col1">invoice</td>
              <td class="col2">15</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]|13</td>
            </tr>
            <tr>
              <td class="col1">last.update</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]UPD</td>
            </tr>
            <tr>
              <td class="col1">location</td>
              <td class="col2">15</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]|5</td>
            </tr>
            <tr>
              <td class="col1">maint.grp</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_EQP_MAINT.htm">MM.EQP.MAINT</a></td>
              <td class="col6">*(M)MU[mu]|17</td>
            </tr>
            <tr>
              <td class="col1">maint.grp.ok</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_EQP_MAINT.htm">MM.EQP.MAINT</a></td>
              <td class="col6">VAL=%MM.EQP.MAINT.user.ok(maint.grp)</td>
            </tr>
            <tr>
              <td class="col1">mfr</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_MFR.htm">MIS.MFR</a></td>
              <td class="col6">*(M)MU[mu]|9</td>
            </tr>
            <tr>
              <td class="col1">mfr.serial.no</td>
              <td class="col2">15</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]|10</td>
            </tr>
            <tr>
              <td class="col1">new.eqp</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6"></td>
            </tr>
            <tr>
              <td class="col1">pm.cds</td>
              <td class="col2">15</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_SCREEN.htm">MIS.SCREEN</a></td>
              <td class="col6">VAL=@MM.EQP.WO.TYPE.cust.def.scrn[@MM.EQP.pm.id]</td>
            </tr>
            <tr>
              <td class="col1">pm.freq</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=@MM.EQP.WO.TYPE.freq[@MM.EQP.pm.id]</td>
            </tr>
            <tr>
              <td class="col1">pm.last.wo</td>
              <td class="col2">6</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"><a href="MM_EQP_WO.htm">MM.EQP.WO</a></td>
              <td class="col6">VAL=%MM.EQP.WO.find.last.wo(id,@pm.id)</td>
            </tr>
            <tr>
              <td class="col1">pm.priority</td>
              <td class="col2">1</td>
              <td class="col3">CHOICE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=@MM.EQP.WO.TYPE.priority[@MM.EQP.pm.id]</td>
            </tr>
            <tr>
              <td class="col1">pm.sched</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=@MM.EQP.WO.TYPE.active[@MM.EQP.pm.id]</td>
            </tr>
            <tr>
              <td class="col1">pm.usage</td>
              <td class="col2">8</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">VAL=@MM.EQP.WO.TYPE.usage[@MM.EQP.pm.id]</td>
            </tr>
            <tr>
              <td class="col1">pm.usage.freq</td>
              <td class="col2">5</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">VAL=IF{@usage.average&#38;@pm.usage&#160;@pm.usage:8D/@usag<br />VAL=e.average:0D!1}</td>
            </tr>
            <tr>
              <td class="col1">po.no</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]|12</td>
            </tr>
            <tr>
              <td class="col1">price</td>
              <td class="col2">9</td>
              <td class="col3">MONEY</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]|11</td>
            </tr>
            <tr>
              <td class="col1">print.cd.screen</td>
              <td class="col2">0</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=DO{@Next(cd.screen)&#160;%MIS.SCREEN.print(cd.scree<br />VAL=n,^@customer.defined.fields,&#34;&#34;,0)}</td>
            </tr>
            <tr>
              <td class="col1">print.cd.screen.verbatim</td>
              <td class="col2">0</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=DO{@Next(cd.screen)&#160;%MIS.SCREEN.print(cd.scree<br />VAL=n,^@customer.defined.fields,1,0)}</td>
            </tr>
            <tr>
              <td class="col1">pur.vendor</td>
              <td class="col2">11</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_VEN.htm">MIS.VEN</a></td>
              <td class="col6">*(M)MU[mu]|6</td>
            </tr>
            <tr>
              <td class="col1">purch.facility</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_PUR_FAC.htm">MIS.PUR.FAC</a></td>
              <td class="col6"></td>
            </tr>
            <tr>
              <td class="col1">ser.vendor</td>
              <td class="col2">11</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_VEN.htm">MIS.VEN</a></td>
              <td class="col6">*(M)MU[mu]|7</td>
            </tr>
            <tr>
              <td class="col1">tsk.user</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_USER.htm">MIS.USER</a></td>
              <td class="col6">*(M)MU[mu]|18</td>
            </tr>
            <tr>
              <td class="col1">tsk.user.email</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]|19</td>
            </tr>
            <tr>
              <td class="col1">usage.average</td>
              <td class="col2">10</td>
              <td class="col3">DEC4</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]U|0</td>
            </tr>
            <tr>
              <td class="col1">usage.average.monthly</td>
              <td class="col2">10</td>
              <td class="col3">DEC4</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">VAL=@usage.average*30:4D:10LT</td>
            </tr>
            <tr>
              <td class="col1">usage.average.weekly</td>
              <td class="col2">10</td>
              <td class="col3">DEC4</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">VAL=@usage.average*7:4D:10LT</td>
            </tr>
            <tr>
              <td class="col1">usage.avg.override</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]U|6</td>
            </tr>
            <tr>
              <td class="col1">usage.days.for.avg</td>
              <td class="col2">4</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]U|1</td>
            </tr>
            <tr>
              <td class="col1">usage.last.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=@Last(usage.date)</td>
            </tr>
            <tr>
              <td class="col1">usage.last.purged</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]U|4</td>
            </tr>
            <tr>
              <td class="col1">usage.meter.digits</td>
              <td class="col2">2</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]U|7</td>
            </tr>
            <tr>
              <td class="col1">usage.stat.type</td>
              <td class="col2">1</td>
              <td class="col3">CHOICE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]U|3</td>
            </tr>
            <tr>
              <td class="col1">usage.stats</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]U|2</td>
            </tr>
            <tr>
              <td class="col1">usage.user</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_USER.htm">MIS.USER</a></td>
              <td class="col6">*(M)MU[mu]U|5</td>
            </tr>
            <tr>
              <td class="col1">user.access</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=IF{%MM.EQP.id.M.sel(MM.EQP.id)&#160;&#34;Y&#34;;&#34;N&#34;}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="comments"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.EQP Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">comments</div>
        <div class="subs">[id,comm.queue]</div>
        <div class="phys">*(M)MU[mu]M[muM]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">comm.queue</td>
              <td class="col2">2</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">muM</td>
            </tr>
            <tr>
              <td class="col1">comm.line</td>
              <td class="col2">74</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]M[muM]VALUE</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="contr.ee"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.EQP Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">contr.ee</div>
        <div class="subs">[id,contr.ee.queue]</div>
        <div class="phys">*(M)MU[mu]CE[muC]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">contr.ee.queue</td>
              <td class="col2">2</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">muC</td>
            </tr>
            <tr>
              <td class="col1">contr.ee.no</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]CE[muC]|1</td>
            </tr>
            <tr>
              <td class="col1">contr.ee.ven</td>
              <td class="col2">11</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_EQP_CONTR.htm">MM.EQP.CONTR</a></td>
              <td class="col6">*(M)MU[mu]CE[muC]|0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="customer.defined.queries"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.EQP Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">customer.defined.queries</div>
        <div class="subs">[id,cd.query]</div>
        <div class="phys">*(M)MU[mu]CD[ggv]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">cd.query</td>
              <td class="col2">15</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_QUERY.htm">MIS.QUERY</a></td>
              <td class="col6">ggv</td>
            </tr>
            <tr>
              <td class="col1">cd.query.resp</td>
              <td class="col2">75</td>
              <td class="col3">QRY.RESP</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]CD[ggv]|0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="customer.def.mult.queries"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.EQP Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#customer.defined.queries" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">customer.def.mult.queries</div>
        <div class="subs">[id,cd.query,cdm.seq.no]</div>
        <div class="phys">*(M)MU[mu]CD[ggv]M[ggvN]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">cdm.seq.no</td>
              <td class="col2">3</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">ggvN</td>
            </tr>
            <tr>
              <td class="col1">cdm.response</td>
              <td class="col2">75</td>
              <td class="col3">QRY.RESP</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]CD[ggv]M[ggvN]|0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="customer.defined.screens"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.EQP Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">customer.defined.screens</div>
        <div class="subs">[id,cd.screen]</div>
        <div class="phys">*(M)MU[mu]CDS[gxx]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">cd.screen</td>
              <td class="col2">15</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_SCREEN.htm">MIS.SCREEN</a></td>
              <td class="col6">gxx</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="images"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.EQP Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">images</div>
        <div class="subs">[id,img.form,img.form.seq.no]</div>
        <div class="phys">*(M)MU[mu]IM[gfin,muIM]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">img.form</td>
              <td class="col2">15</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_FIN_FORM.htm">MIS.FIN.FORM</a></td>
              <td class="col6">gfin</td>
            </tr>
            <tr>
              <td class="col1">img.form.seq.no</td>
              <td class="col2">2</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">muIM</td>
            </tr>
            <tr>
              <td class="col1">img.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]IM[gfin,muIM]|0</td>
            </tr>
            <tr>
              <td class="col1">img.desc</td>
              <td class="col2">40</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]IM[gfin,muIM]|3</td>
            </tr>
            <tr>
              <td class="col1">img.time</td>
              <td class="col2">4</td>
              <td class="col3">TIME</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]IM[gfin,muIM]|1</td>
            </tr>
            <tr>
              <td class="col1">img.user</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_USER.htm">MIS.USER</a></td>
              <td class="col6">*(M)MU[mu]IM[gfin,muIM]|2</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="images.pages"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.EQP Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#images" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">images.pages</div>
        <div class="subs">[id,img.form,img.form.seq.no,img.page]</div>
        <div class="phys">*(M)MU[mu]IM[gfin,muIM]P[muIP]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">img.page</td>
              <td class="col2">2</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">muIP</td>
            </tr>
            <tr>
              <td class="col1">img.file.name</td>
              <td class="col2">128</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]IM[gfin,muIM]P[muIP]|2</td>
            </tr>
            <tr>
              <td class="col1">img.path.urn</td>
              <td class="col2">12</td>
              <td class="col3">URN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]IM[gfin,muIM]P[muIP]|1</td>
            </tr>
            <tr>
              <td class="col1">img.svr.share</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_SVR_SHARE.htm">MIS.SVR.SHARE</a></td>
              <td class="col6">*(M)MU[mu]IM[gfin,muIM]P[muIP]|0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="pm"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.EQP Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">pm</div>
        <div class="subs">[id,pm.id]</div>
        <div class="phys">*(M)MU[mu]P[mup]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">pm.id</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_EQP_WO_TYPE.htm">MM.EQP.WO.TYPE</a></td>
              <td class="col6">mup</td>
            </tr>
            <tr>
              <td class="col1">pm.mark</td>
              <td class="col2">1</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]P[mup]|0</td>
            </tr>
            <tr>
              <td class="col1">pm.tsk.user</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_USER.htm">MIS.USER</a></td>
              <td class="col6">*(M)MU[mu]P[mup]|1</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="usage.by.date"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.EQP Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">usage.by.date</div>
        <div class="subs">[id,usage.date]</div>
        <div class="phys">*(M)MU[mu]U[muUD]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">usage.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">muUD</td>
            </tr>
            <tr>
              <td class="col1">usage.increment</td>
              <td class="col2">10</td>
              <td class="col3">INT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]U[muUD]|1</td>
            </tr>
            <tr>
              <td class="col1">usage.qty.total</td>
              <td class="col2">10</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]U[muUD]|0</td>
            </tr>
            <tr>
              <td class="col1">usage.rollover.count</td>
              <td class="col2">7</td>
              <td class="col3">INT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]U[muUD]|2</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="warranty"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.EQP Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">warranty</div>
        <div class="subs">[id,warr.queue]</div>
        <div class="phys">*(M)MU[mu]W[muW]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">warr.queue</td>
              <td class="col2">2</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">muW</td>
            </tr>
            <tr>
              <td class="col1">warr.desc</td>
              <td class="col2">60</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]W[muW]|0</td>
            </tr>
            <tr>
              <td class="col1">warr.exp</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MU[mu]W[muW]|1</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="ind">
        <div><a name="Indices"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.EQP Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li>&#160;</li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="header">
          <div class="hdr1">Index Files</div>
          <div class="hdr2">Subscripts/Physical Base</div>
        </div>
        <div class="clear"></div>
        <table>
          <tr>
            <td class="name">component.x</td>
            <td class="src">[component,id]</td>
          </tr>
          <tr>
            <td class="obj" colspan="2">?(M)MUCX[muC,mu]</td>
          </tr>
        </table>
        <table>
          <tr>
            <td class="name">maint.x</td>
            <td class="src">[maint.grp,id]</td>
          </tr>
          <tr>
            <td class="obj" colspan="2">?(M)MUMG[mum,mu]</td>
          </tr>
        </table>
        <table>
          <tr>
            <td class="name">name.index</td>
            <td class="src">[desc,id]</td>
          </tr>
          <tr>
            <td class="obj" colspan="2">?(M)MUI[muD,mu]</td>
          </tr>
        </table>
        <table>
          <tr>
            <td class="name">pm.index</td>
            <td class="src">[id,pm.id]</td>
          </tr>
          <tr>
            <td class="obj" colspan="2">?(M)MUPX[mu,mup]</td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>