<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>MM.EQP.CDS Data Definitions</title>
    <link rel="stylesheet" type="text/css" href="../../../style/site.css" />
    <link rel="stylesheet" type="text/css" href="../../../style/dpm.css" />
  </head>
  <body>
    <h2>MM.EQP.CDS Data Definitions</h2>
    <h5>(Client Server 6.15)</h5>
    <div id="wrap">
      <div id="hierarchy">
        <a name="Hierarchy"></a>
        <ul class="nav">
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div><a href="#main">main</a></div>
        <div>&#160;&#160;<a href="#classes">classes</a></div>
        <div>&#160;&#160;<a href="#maint.groups">maint.groups</a></div>
      </div>
      <div class="seg">
        <div><a name="main"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.EQP.CDS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li>&#160;</li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">main</div>
        <div class="subs">[mnemonic]</div>
        <div class="phys">&#38;(M)MUE[mue]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">mnemonic</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">mue</td>
            </tr>
            <tr>
              <td class="col1">active</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MUE[mue]|0</td>
            </tr>
            <tr>
              <td class="col1">cd.screen</td>
              <td class="col2">15</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_SCREEN.htm">MIS.SCREEN</a></td>
              <td class="col6">&#38;(M)MUE[mue]|2</td>
            </tr>
            <tr>
              <td class="col1">description</td>
              <td class="col2">30</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MUE[mue]|1</td>
            </tr>
            <tr>
              <td class="col1">last.update</td>
              <td class="col2">15</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MUE[mue]UPD</td>
            </tr>
            <tr>
              <td class="col1">maint.grp.ok</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=IF{%MM.EQP.CDS.maint.grp.ok(MM.EQP.CDS.mnemoni<br />VAL=c)&#160;&#34;Y&#34;;&#34;N&#34;}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="classes"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.EQP.CDS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">classes</div>
        <div class="subs">[mnemonic,class]</div>
        <div class="phys">&#38;(M)MUE[mue]C[mud]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">class</td>
              <td class="col2">8</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_EQP_CLASS.htm">MM.EQP.CLASS</a></td>
              <td class="col6">mud</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="maint.groups"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.EQP.CDS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">maint.groups</div>
        <div class="subs">[mnemonic,maint.group]</div>
        <div class="phys">&#38;(M)MUE[mue]MG[mum]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">maint.group</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_EQP_MAINT.htm">MM.EQP.MAINT</a></td>
              <td class="col6">mum</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>