<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>MM.HHT Data Definitions</title>
    <link rel="stylesheet" type="text/css" href="../../../style/site.css" />
    <link rel="stylesheet" type="text/css" href="../../../style/dpm.css" />
  </head>
  <body>
    <h2>MM.HHT Data Definitions</h2>
    <h5>(Client Server 6.15)</h5>
    <div id="wrap">
      <div id="hierarchy">
        <a name="Hierarchy"></a>
        <ul class="nav">
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div><a href="#list">list</a></div>
        <div>&#160;&#160;<a href="#list.stocks">list.stocks</a></div>
        <div><a href="#main">main</a></div>
        <div><a href="#sessions">sessions</a></div>
        <div>&#160;&#160;<a href="#batches">batches</a></div>
        <div>&#160;&#160;&#160;&#160;<a href="#batch.log">batch.log</a></div>
        <div>&#160;&#160;&#160;&#160;<a href="#batch.records">batch.records</a></div>
        <div>&#160;&#160;&#160;&#160;<a href="#lots">lots</a></div>
        <div>&#160;&#160;<a href="#record.list">record.list</a></div>
      </div>
      <div class="seg">
        <div><a name="list"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.HHT Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li>&#160;</li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">list</div>
        <div class="subs">[id]</div>
        <div class="phys">&#38;(M)MHTL[mhtl]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">id</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">mhtl</td>
            </tr>
            <tr>
              <td class="col1">active</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MHTL[mhtl]|0</td>
            </tr>
            <tr>
              <td class="col1">description</td>
              <td class="col2">30</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MHTL[mhtl]|1</td>
            </tr>
            <tr>
              <td class="col1">inv.check</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=IF{%MM.INVENT.security(@MM.HHT.inventory,1,&#34;&#34;,<br />VAL=&#34;&#34;)&#160;&#34;N&#34;;&#34;Y&#34;}</td>
            </tr>
            <tr>
              <td class="col1">inventory</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_INVENT.htm">MM.INVENT</a></td>
              <td class="col6">&#38;(M)MHTL[mhtl]|2</td>
            </tr>
            <tr>
              <td class="col1">last.update</td>
              <td class="col2">10</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MHTL[mhtl]UPD</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="list.stocks"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.HHT Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#list" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">list.stocks</div>
        <div class="subs">[id,seq]</div>
        <div class="phys">&#38;(M)MHTL[mhtl]S[mhtlS]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">seq</td>
              <td class="col2">4</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">mhtlS</td>
            </tr>
            <tr>
              <td class="col1">location</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MHTL[mhtl]S[mhtlS]|1</td>
            </tr>
            <tr>
              <td class="col1">stock.no</td>
              <td class="col2">18</td>
              <td class="col3">URN</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_STOCK.htm">MM.STOCK</a></td>
              <td class="col6">&#38;(M)MHTL[mhtl]S[mhtlS]|0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="main"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.HHT Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li>&#160;</li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">main</div>
        <div class="subs">[]</div>
        <div class="phys">*(M)MHT</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">session.counter</td>
              <td class="col2">10</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT|0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="sessions"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.HHT Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">sessions</div>
        <div class="subs">[session.number]</div>
        <div class="phys">*(M)MHT[mht]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">session.number</td>
              <td class="col2">6</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">mht</td>
            </tr>
            <tr>
              <td class="col1">session.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]|0</td>
            </tr>
            <tr>
              <td class="col1">session.error.message</td>
              <td class="col2">70</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]|4</td>
            </tr>
            <tr>
              <td class="col1">session.num.batches</td>
              <td class="col2">6</td>
              <td class="col3">INT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]|7</td>
            </tr>
            <tr>
              <td class="col1">session.num.batches.cncl</td>
              <td class="col2">6</td>
              <td class="col3">INT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]|10</td>
            </tr>
            <tr>
              <td class="col1">session.num.batches.pst</td>
              <td class="col2">6</td>
              <td class="col3">INT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]|9</td>
            </tr>
            <tr>
              <td class="col1">session.num.errors</td>
              <td class="col2">6</td>
              <td class="col3">INT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]|8</td>
            </tr>
            <tr>
              <td class="col1">session.rcvd.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]|1</td>
            </tr>
            <tr>
              <td class="col1">session.rcvd.time</td>
              <td class="col2">4</td>
              <td class="col3">TIME</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]|2</td>
            </tr>
            <tr>
              <td class="col1">session.status</td>
              <td class="col2">10</td>
              <td class="col3">CHOICE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]|5</td>
            </tr>
            <tr>
              <td class="col1">session.status.date</td>
              <td class="col2">4</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]|6</td>
            </tr>
            <tr>
              <td class="col1">session.user</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_USER.htm">MIS.USER</a></td>
              <td class="col6">*(M)MHT[mht]|3</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="batches"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.HHT Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#sessions" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">batches</div>
        <div class="subs">[session.number,batch.number]</div>
        <div class="phys">*(M)MHT[mht]B[mhtb]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">batch.number</td>
              <td class="col2">6</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">mhtb</td>
            </tr>
            <tr>
              <td class="col1">batch.bar.db</td>
              <td class="col2">12</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_APPL_DB.htm">MIS.APPL.DB</a></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]|11</td>
            </tr>
            <tr>
              <td class="col1">batch.business.unit</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_BUS_UNIT.htm">MIS.BUS.UNIT</a></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]|18</td>
            </tr>
            <tr>
              <td class="col1">batch.comment</td>
              <td class="col2">25</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]|4</td>
            </tr>
            <tr>
              <td class="col1">batch.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]|3</td>
            </tr>
            <tr>
              <td class="col1">batch.dept</td>
              <td class="col2">15</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_GL_DEPT.htm">MIS.GL.DEPT</a></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]|14</td>
            </tr>
            <tr>
              <td class="col1">batch.dept.err</td>
              <td class="col2">5</td>
              <td class="col3">CHOICE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]|15</td>
            </tr>
            <tr>
              <td class="col1">batch.dept.name</td>
              <td class="col2">30</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=@MIS.GL.DEPT.name[@batch.dept]</td>
            </tr>
            <tr>
              <td class="col1">batch.dft.svc.time</td>
              <td class="col2">4</td>
              <td class="col3">TIME</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]|20</td>
            </tr>
            <tr>
              <td class="col1">batch.ext.bar.db</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]|17</td>
            </tr>
            <tr>
              <td class="col1">batch.for.inventory</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_INVENT.htm">MM.INVENT</a></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]|12</td>
            </tr>
            <tr>
              <td class="col1">batch.for.inventory.err</td>
              <td class="col2">5</td>
              <td class="col3">CHOICE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]|13</td>
            </tr>
            <tr>
              <td class="col1">batch.inventory</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_INVENT.htm">MM.INVENT</a></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]|1</td>
            </tr>
            <tr>
              <td class="col1">batch.inventory.err</td>
              <td class="col2">5</td>
              <td class="col3">CHOICE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]|2</td>
            </tr>
            <tr>
              <td class="col1">batch.inventory.rpt</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=IF{&#34;*&#34;_@batch.inventory.err_&#34;*&#34;&#39;=&#34;**&#34;;@batch.i<br />VAL=nventory}</td>
            </tr>
            <tr>
              <td class="col1">batch.mis.facility</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_FACILITY.htm">MIS.FACILITY</a></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]|19</td>
            </tr>
            <tr>
              <td class="col1">batch.num.errors</td>
              <td class="col2">6</td>
              <td class="col3">INT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]|9</td>
            </tr>
            <tr>
              <td class="col1">batch.po.err</td>
              <td class="col2">5</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=@batch.inventory.err</td>
            </tr>
            <tr>
              <td class="col1">batch.po.number</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=@batch.inventory</td>
            </tr>
            <tr>
              <td class="col1">batch.post.level</td>
              <td class="col2">1</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]|16</td>
            </tr>
            <tr>
              <td class="col1">batch.ref.number</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]|10</td>
            </tr>
            <tr>
              <td class="col1">batch.status</td>
              <td class="col2">10</td>
              <td class="col3">CHOICE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]|7</td>
            </tr>
            <tr>
              <td class="col1">batch.status.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]|8</td>
            </tr>
            <tr>
              <td class="col1">batch.type</td>
              <td class="col2">3</td>
              <td class="col3">CHOICE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]|0</td>
            </tr>
            <tr>
              <td class="col1">batch.type.text</td>
              <td class="col2">6</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=%MM.HHT.batch.type.text(@batch.type)</td>
            </tr>
            <tr>
              <td class="col1">batch.user</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_USER.htm">MIS.USER</a></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]|5</td>
            </tr>
            <tr>
              <td class="col1">batch.user.err</td>
              <td class="col2">5</td>
              <td class="col3">CHOICE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]|6</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="batch.log"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.HHT Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#batches" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">batch.log</div>
        <div class="subs">[session.number,batch.number,sbl.q]</div>
        <div class="phys">*(M)MHT[mht]B[mhtb]W[mhtW]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">sbl.q</td>
              <td class="col2">3</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">mhtW</td>
            </tr>
            <tr>
              <td class="col1">sbl.text</td>
              <td class="col2">75</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]W[mhtW]|0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="batch.records"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.HHT Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#batches" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">batch.records</div>
        <div class="subs">[session.number,batch.number,record.number]</div>
        <div class="phys">*(M)MHT[mht]B[mhtb]R[mhtr]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">record.number</td>
              <td class="col2">6</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">mhtr</td>
            </tr>
            <tr>
              <td class="col1">record.err</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]R[mhtr]|9</td>
            </tr>
            <tr>
              <td class="col1">record.item.upn</td>
              <td class="col2">20</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]R[mhtr]|12</td>
            </tr>
            <tr>
              <td class="col1">record.packaging</td>
              <td class="col2">4</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]R[mhtr]|13</td>
            </tr>
            <tr>
              <td class="col1">record.posted</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]R[mhtr]|10</td>
            </tr>
            <tr>
              <td class="col1">record.pt.id</td>
              <td class="col2">15</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]R[mhtr]|7</td>
            </tr>
            <tr>
              <td class="col1">record.pt.id.err</td>
              <td class="col2">3</td>
              <td class="col3">CHOICE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]R[mhtr]|8</td>
            </tr>
            <tr>
              <td class="col1">record.pt.id.rpt</td>
              <td class="col2">15</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=IF{&#34;*&#34;_@record.patient.id.err_&#34;*&#34;&#39;=&#34;**&#34;;@recor<br />VAL=d.patient.id}</td>
            </tr>
            <tr>
              <td class="col1">record.pt.svc.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]R[mhtr]|14</td>
            </tr>
            <tr>
              <td class="col1">record.pt.svc.time</td>
              <td class="col2">4</td>
              <td class="col3">TIME</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]R[mhtr]|15</td>
            </tr>
            <tr>
              <td class="col1">record.qty1</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]R[mhtr]|3</td>
            </tr>
            <tr>
              <td class="col1">record.qty1.err</td>
              <td class="col2">3</td>
              <td class="col3">CHOICE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]R[mhtr]|4</td>
            </tr>
            <tr>
              <td class="col1">record.qty1.rpt</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=IF{&#34;*&#34;_@record.qty1.err_&#34;*&#34;&#39;=&#34;**&#34;;@record.qty1<br />VAL=}</td>
            </tr>
            <tr>
              <td class="col1">record.qty2</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]R[mhtr]|5</td>
            </tr>
            <tr>
              <td class="col1">record.qty2.err</td>
              <td class="col2">3</td>
              <td class="col3">CHOICE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]R[mhtr]|6</td>
            </tr>
            <tr>
              <td class="col1">record.qty2.rpt</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=IF{&#34;*&#34;_@record.qty2.err_&#34;*&#34;&#39;=&#34;**&#34;;@record.qty2<br />VAL=}</td>
            </tr>
            <tr>
              <td class="col1">record.stock.no</td>
              <td class="col2">20</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]R[mhtr]|1</td>
            </tr>
            <tr>
              <td class="col1">record.stock.no.err</td>
              <td class="col2">3</td>
              <td class="col3">CHOICE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]R[mhtr]|2</td>
            </tr>
            <tr>
              <td class="col1">record.stock.no.rpt</td>
              <td class="col2">20</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=IF{&#34;*&#34;_@record.stock.no.err_&#34;*&#34;&#39;=&#34;**&#34;;@record.<br />VAL=stock.no}</td>
            </tr>
            <tr>
              <td class="col1">record.stock.urn</td>
              <td class="col2">18</td>
              <td class="col3">URN</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_STOCK.htm">MM.STOCK</a></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]R[mhtr]|11</td>
            </tr>
            <tr>
              <td class="col1">record.type</td>
              <td class="col2">10</td>
              <td class="col3">CHOICE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]R[mhtr]|0</td>
            </tr>
            <tr>
              <td class="col1">record.um</td>
              <td class="col2">4</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=%MM.HHT.record.um(session.number,batch.number,<br />VAL=record.number)</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="lots"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.HHT Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#batches" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">lots</div>
        <div class="subs">[session.number,batch.number,lot.stock.no,lot.number,exp.date]</div>
        <div class="phys">*(M)MHT[mht]B[mhtb]LOT[msN,mlot,mlxd]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">lot.stock.no</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">msN</td>
            </tr>
            <tr>
              <td class="col1">lot.number</td>
              <td class="col2">20</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">mlot</td>
            </tr>
            <tr>
              <td class="col1">exp.date</td>
              <td class="col2">8</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">mlxd</td>
            </tr>
            <tr>
              <td class="col1">lot.exp.comment</td>
              <td class="col2">80</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]LOT[msN,mlot,mlxd]|1</td>
            </tr>
            <tr>
              <td class="col1">lot.qty</td>
              <td class="col2">7</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]LOT[msN,mlot,mlxd]|0</td>
            </tr>
            <tr>
              <td class="col1">lot.stock.urn</td>
              <td class="col2">18</td>
              <td class="col3">URN</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_STOCK.htm">MM.STOCK</a></td>
              <td class="col6">*(M)MHT[mht]B[mhtb]LOT[msN,mlot,mlxd]|2</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="record.list"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.HHT Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#sessions" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">record.list</div>
        <div class="subs">[session.number,recrd.type,recrd.batch.num]</div>
        <div class="phys">*(M)MHT[mht]P[mhtbT,mhtb]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">recrd.type</td>
              <td class="col2">3</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">mhtbT</td>
            </tr>
            <tr>
              <td class="col1">recrd.batch.num</td>
              <td class="col2">6</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">mhtb</td>
            </tr>
            <tr>
              <td class="col1">recrd.inventory</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_INVENT.htm">MM.INVENT</a></td>
              <td class="col6">*(M)MHT[mht]P[mhtbT,mhtb]|0</td>
            </tr>
            <tr>
              <td class="col1">recrd.number</td>
              <td class="col2">7</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MHT[mht]P[mhtbT,mhtb]|1</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="ind">
        <div><a name="Indices"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.HHT Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li>&#160;</li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="header">
          <div class="hdr1">Index Files</div>
          <div class="hdr2">Subscripts/Physical Base</div>
        </div>
        <div class="clear"></div>
        <table>
          <tr>
            <td class="name">session.date.x</td>
            <td class="src">[session.date,session.number]</td>
          </tr>
          <tr>
            <td class="obj" colspan="2">?(M)MHTX[mhtD,mht]</td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>