<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>MM.IREQ.TEMP Data Definitions</title>
    <link rel="stylesheet" type="text/css" href="../../../style/site.css" />
    <link rel="stylesheet" type="text/css" href="../../../style/dpm.css" />
  </head>
  <body>
    <h2>MM.IREQ.TEMP Data Definitions</h2>
    <h5>(Client Server 6.15)</h5>
    <div id="wrap">
      <div id="hierarchy">
        <a name="Hierarchy"></a>
        <ul class="nav">
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div><a href="#main">main</a></div>
        <div>&#160;&#160;<a href="#lines">lines</a></div>
        <div>&#160;&#160;&#160;&#160;<a href="#deliver.to.locations">deliver.to.locations</a></div>
        <div>&#160;&#160;<a href="#req.categories">req.categories</a></div>
        <div>&#160;&#160;<a href="#users">users</a></div>
      </div>
      <div class="seg">
        <div><a name="main"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.IREQ.TEMP Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li>&#160;</li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">main</div>
        <div class="subs">[mnemonic]</div>
        <div class="phys">&#38;(M)MCTI[mcti]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">mnemonic</td>
              <td class="col2">15</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">mcti</td>
            </tr>
            <tr>
              <td class="col1">active</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MCTI[mcti]|0</td>
            </tr>
            <tr>
              <td class="col1">check</td>
              <td class="col2">1</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=IF{%MM.IREQ.TEMP.security(mnemonic);0}</td>
            </tr>
            <tr>
              <td class="col1">department</td>
              <td class="col2">15</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_GL_DEPT.htm">MIS.GL.DEPT</a></td>
              <td class="col6">&#38;(M)MCTI[mcti]|2</td>
            </tr>
            <tr>
              <td class="col1">description</td>
              <td class="col2">30</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MCTI[mcti]|4</td>
            </tr>
            <tr>
              <td class="col1">display.order</td>
              <td class="col2">14</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MCTI[mcti]|6</td>
            </tr>
            <tr>
              <td class="col1">last.upd.user</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_USER.htm">MIS.USER</a></td>
              <td class="col6">&#38;(M)MCTI[mcti]|3</td>
            </tr>
            <tr>
              <td class="col1">line.cnt</td>
              <td class="col2">3</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MCTI[mcti]|5</td>
            </tr>
            <tr>
              <td class="col1">nonstk.req</td>
              <td class="col2">15</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_NONSTK_REQ.htm">MM.NONSTK.REQ</a></td>
              <td class="col6"></td>
            </tr>
            <tr>
              <td class="col1">purch.facility</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_PUR_FAC.htm">MIS.PUR.FAC</a></td>
              <td class="col6">&#38;(M)MCTI[mcti]|1</td>
            </tr>
            <tr>
              <td class="col1">rec.req</td>
              <td class="col2">15</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_REC_REQ.htm">MM.REC.REQ</a></td>
              <td class="col6"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="lines"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.IREQ.TEMP Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">lines</div>
        <div class="subs">[mnemonic,line.no]</div>
        <div class="phys">&#38;(M)MCTI[mcti]L[mctL]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">line.no</td>
              <td class="col2">3</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">mctL</td>
            </tr>
            <tr>
              <td class="col1">approx.cost</td>
              <td class="col2">11</td>
              <td class="col3">DEC4</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MCTI[mcti]L[mctL]|13</td>
            </tr>
            <tr>
              <td class="col1">ee.del.to</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MCTI[mcti]L[mctL]|10</td>
            </tr>
            <tr>
              <td class="col1">ee.new</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MCTI[mcti]L[mctL]|12</td>
            </tr>
            <tr>
              <td class="col1">inventory</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_INVENT.htm">MM.INVENT</a></td>
              <td class="col6">&#38;(M)MCTI[mcti]L[mctL]|5</td>
            </tr>
            <tr>
              <td class="col1">item.no</td>
              <td class="col2">12</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MCTI[mcti]L[mctL]|0</td>
            </tr>
            <tr>
              <td class="col1">item.pkg.ptr</td>
              <td class="col2">4</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MCTI[mcti]L[mctL]|11</td>
            </tr>
            <tr>
              <td class="col1">item.qty</td>
              <td class="col2">4</td>
              <td class="col3">SINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MCTI[mcti]L[mctL]|7</td>
            </tr>
            <tr>
              <td class="col1">item.tx.cd</td>
              <td class="col2">3</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_TAX_CODE.htm">MIS.TAX.CODE</a></td>
              <td class="col6">&#38;(M)MCTI[mcti]L[mctL]|8</td>
            </tr>
            <tr>
              <td class="col1">item.unit</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MCTI[mcti]L[mctL]|6</td>
            </tr>
            <tr>
              <td class="col1">item.urn</td>
              <td class="col2">43</td>
              <td class="col3">URN</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_ITEM.htm">MM.ITEM</a></td>
              <td class="col6">&#38;(M)MCTI[mcti]L[mctL]|1</td>
            </tr>
            <tr>
              <td class="col1">jit</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MCTI[mcti]L[mctL]|9</td>
            </tr>
            <tr>
              <td class="col1">stock.no</td>
              <td class="col2">18</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MCTI[mcti]L[mctL]|3</td>
            </tr>
            <tr>
              <td class="col1">stock.urn</td>
              <td class="col2">18</td>
              <td class="col3">URN</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_STOCK.htm">MM.STOCK</a></td>
              <td class="col6">&#38;(M)MCTI[mcti]L[mctL]|2</td>
            </tr>
            <tr>
              <td class="col1">vendor</td>
              <td class="col2">11</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_VEN.htm">MIS.VEN</a></td>
              <td class="col6">&#38;(M)MCTI[mcti]L[mctL]|4</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="deliver.to.locations"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.IREQ.TEMP Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#lines" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">deliver.to.locations</div>
        <div class="subs">[mnemonic,line.no,location]</div>
        <div class="phys">&#38;(M)MCTI[mcti]L[mctL]DL[mrq]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">location</td>
              <td class="col2">17</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_DEL_TO.htm">MM.DEL.TO</a></td>
              <td class="col6">mrq</td>
            </tr>
            <tr>
              <td class="col1">instructions</td>
              <td class="col2">30</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">&#38;(M)MCTI[mcti]L[mctL]DL[mrq]|0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="req.categories"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.IREQ.TEMP Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">req.categories</div>
        <div class="subs">[mnemonic,req.cat]</div>
        <div class="phys">&#38;(M)MCTI[mcti]CT[mlc]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">req.cat</td>
              <td class="col2">8</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_REQ_CAT.htm">MM.REQ.CAT</a></td>
              <td class="col6">mlc</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="users"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.IREQ.TEMP Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li><a href="#Indices" title="Index Files"><font face="Webdings" size="+2">i</size></font></a></li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">users</div>
        <div class="subs">[mnemonic,user]</div>
        <div class="phys">&#38;(M)MCTI[mcti]U[gu]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">user</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_USER.htm">MIS.USER</a></td>
              <td class="col6">gu</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="ind">
        <div><a name="Indices"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.IREQ.TEMP Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li>&#160;</li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="header">
          <div class="hdr1">Index Files</div>
          <div class="hdr2">Subscripts/Physical Base</div>
        </div>
        <div class="clear"></div>
        <table>
          <tr>
            <td class="name">desc.x</td>
            <td class="src">[description,mnemonic] = active</td>
          </tr>
          <tr>
            <td class="obj" colspan="2">&(M)MCTID[mctDSC,mcti]</td>
          </tr>
        </table>
        <table>
          <tr>
            <td class="name">fac.x</td>
            <td class="src">[purch.facility,mnemonic] = active</td>
          </tr>
          <tr>
            <td class="obj" colspan="2">&(M)MCTIF[mw,mcti]</td>
          </tr>
        </table>
        <table>
          <tr>
            <td class="name">item.x</td>
            <td class="src">[item.urn,mnemonic,line.no]</td>
          </tr>
          <tr>
            <td class="obj" colspan="2">&(M)MCTII[mt,mcti,mctL]</td>
          </tr>
        </table>
        <table>
          <tr>
            <td class="name">req.cat.x</td>
            <td class="src">[req.cat,mnemonic]</td>
          </tr>
          <tr>
            <td class="obj" colspan="2">&(M)MCRTCX[mlc,mcti]</td>
          </tr>
        </table>
        <table>
          <tr>
            <td class="name">stock.x</td>
            <td class="src">[stock.urn,mnemonic,line.no]</td>
          </tr>
          <tr>
            <td class="obj" colspan="2">&(M)MCTIS[ms,mcti,mctL]</td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>