<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>MM.STATUS Data Definitions</title>
    <link rel="stylesheet" type="text/css" href="../../../style/site.css" />
    <link rel="stylesheet" type="text/css" href="../../../style/dpm.css" />
  </head>
  <body>
    <h2>MM.STATUS Data Definitions</h2>
    <h5>(Client Server 6.15)</h5>
    <div id="wrap">
      <div id="hierarchy">
        <a name="Hierarchy"></a>
        <ul class="nav">
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div><a href="#alt.msg">alt.msg</a></div>
        <div><a href="#main">main</a></div>
        <div><a href="#auto.int.hours">auto.int.hours</a></div>
        <div><a href="#inventories">inventories</a></div>
        <div><a href="#new.bar.batches">new.bar.batches</a></div>
        <div><a href="#process.po.lists">process.po.lists</a></div>
        <div><a href="#process.req.lists">process.req.lists</a></div>
        <div><a href="#tasks.email.history">tasks.email.history</a></div>
      </div>
      <div class="seg">
        <div><a name="alt.msg"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.STATUS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li>&#160;</li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">alt.msg</div>
        <div class="subs">[]</div>
        <div class="phys">*(M)MSTATUS[&#34;M1&#34;]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">alt.bkg.msg</td>
              <td class="col2">50</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;M1&#34;]|1</td>
            </tr>
            <tr>
              <td class="col1">alt.mnr.msg</td>
              <td class="col2">50</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;M1&#34;]|0</td>
            </tr>
            <tr>
              <td class="col1">alt.scrn.display</td>
              <td class="col2">17</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;M1&#34;]|2</td>
            </tr>
            <tr>
              <td class="col1">alt.upd.stamp</td>
              <td class="col2">17</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=IF{%Z.date.time.in.magic(@.sd)^C,C^{DT,TM},(TM<br />VAL=$2)_&#34;:&#34;_(TM&#39;$2)^TMO,%Z.date.out(DT)_&#34;&#160;&#34;_(TMO)_<br />VAL=&#34;&#160;&#34;}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="main"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.STATUS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li>&#160;</li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">main</div>
        <div class="subs">[]</div>
        <div class="phys">*(M)MSTATUS</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">accrual.start.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|16</td>
            </tr>
            <tr>
              <td class="col1">ai.active</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;L&#34;]|5</td>
            </tr>
            <tr>
              <td class="col1">ai.interval.time</td>
              <td class="col2">2</td>
              <td class="col3">INT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;L&#34;]|2</td>
            </tr>
            <tr>
              <td class="col1">ai.last.run.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;L&#34;]|0</td>
            </tr>
            <tr>
              <td class="col1">ai.last.run.time</td>
              <td class="col2">5</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;L&#34;]|1</td>
            </tr>
            <tr>
              <td class="col1">ai.last.status</td>
              <td class="col2">30</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;L&#34;]|3</td>
            </tr>
            <tr>
              <td class="col1">ai.user</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_USER.htm">MIS.USER</a></td>
              <td class="col6">*(M)MSTATUS[&#34;L&#34;]|4</td>
            </tr>
            <tr>
              <td class="col1">contracts.last.upd</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|24</td>
            </tr>
            <tr>
              <td class="col1">dev.cms.restrict.bypass</td>
              <td class="col2">1</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|27</td>
            </tr>
            <tr>
              <td class="col1">file.software.version</td>
              <td class="col2">1</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|0</td>
            </tr>
            <tr>
              <td class="col1">focus.bar.last.sent.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;FBAR&#34;]|0</td>
            </tr>
            <tr>
              <td class="col1">focus.bar.last.sent.time</td>
              <td class="col2">4</td>
              <td class="col3">TIME</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;FBAR&#34;]|1</td>
            </tr>
            <tr>
              <td class="col1">focus.bar.run.status</td>
              <td class="col2">30</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;FBAR&#34;]|2</td>
            </tr>
            <tr>
              <td class="col1">inv.close.crashed.msg</td>
              <td class="col2">10</td>
              <td class="col3">CHOICE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|12</td>
            </tr>
            <tr>
              <td class="col1">inv.last.gl.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|9</td>
            </tr>
            <tr>
              <td class="col1">item.fac.cnv</td>
              <td class="col2">1</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|26</td>
            </tr>
            <tr>
              <td class="col1">last.832.upd</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|25</td>
            </tr>
            <tr>
              <td class="col1">last.accrual.batch</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|17</td>
            </tr>
            <tr>
              <td class="col1">last.eqp.usage.purge.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|21</td>
            </tr>
            <tr>
              <td class="col1">last.eqp.wo.purge.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|22</td>
            </tr>
            <tr>
              <td class="col1">last.packing.list.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|15</td>
            </tr>
            <tr>
              <td class="col1">last.packing.list.no</td>
              <td class="col2">3</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|14</td>
            </tr>
            <tr>
              <td class="col1">last.purch.ord.purge.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|13</td>
            </tr>
            <tr>
              <td class="col1">last.purch.req.purge.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|11</td>
            </tr>
            <tr>
              <td class="col1">last.restock.purge.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|29</td>
            </tr>
            <tr>
              <td class="col1">last.stock.pt.purge.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|7</td>
            </tr>
            <tr>
              <td class="col1">last.stock.purge.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|5</td>
            </tr>
            <tr>
              <td class="col1">last.stock.req.purge.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|6</td>
            </tr>
            <tr>
              <td class="col1">last.system.ipl</td>
              <td class="col2">12</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|19</td>
            </tr>
            <tr>
              <td class="col1">last.task.email.run</td>
              <td class="col2">12</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|28</td>
            </tr>
            <tr>
              <td class="col1">mnr.current.status</td>
              <td class="col2">50</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;M&#34;]|5</td>
            </tr>
            <tr>
              <td class="col1">mnr.last.end.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;M&#34;]|2</td>
            </tr>
            <tr>
              <td class="col1">mnr.last.end.time</td>
              <td class="col2">4</td>
              <td class="col3">HHMM</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;M&#34;]|3</td>
            </tr>
            <tr>
              <td class="col1">mnr.last.start.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;M&#34;]|0</td>
            </tr>
            <tr>
              <td class="col1">mnr.last.start.time</td>
              <td class="col2">4</td>
              <td class="col3">HHMM</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;M&#34;]|1</td>
            </tr>
            <tr>
              <td class="col1">mnr.last.user</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_USER.htm">MIS.USER</a></td>
              <td class="col6">*(M)MSTATUS[&#34;M&#34;]|4</td>
            </tr>
            <tr>
              <td class="col1">nbb.interval.time</td>
              <td class="col2">2</td>
              <td class="col3">INT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;N&#34;]|2</td>
            </tr>
            <tr>
              <td class="col1">nbb.last.run.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;N&#34;]|0</td>
            </tr>
            <tr>
              <td class="col1">nbb.last.run.time</td>
              <td class="col2">5</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;N&#34;]|1</td>
            </tr>
            <tr>
              <td class="col1">next.eqp.prop.no</td>
              <td class="col2">10</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|23</td>
            </tr>
            <tr>
              <td class="col1">next.item.no</td>
              <td class="col2">10</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|2</td>
            </tr>
            <tr>
              <td class="col1">next.po.no</td>
              <td class="col2">10</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|3</td>
            </tr>
            <tr>
              <td class="col1">next.req.no</td>
              <td class="col2">10</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|4</td>
            </tr>
            <tr>
              <td class="col1">pol.time.last.checked</td>
              <td class="col2">12</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;POL&#34;]|0</td>
            </tr>
            <tr>
              <td class="col1">prl.time.last.checked</td>
              <td class="col2">12</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;PRL&#34;]|0</td>
            </tr>
            <tr>
              <td class="col1">purch.date.closing</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|10</td>
            </tr>
            <tr>
              <td class="col1">purch.last.date.closed</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|1</td>
            </tr>
            <tr>
              <td class="col1">sdv.access.dict</td>
              <td class="col2">5</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;SDV&#34;]|0</td>
            </tr>
            <tr>
              <td class="col1">tsk.comp.rpt</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;TSK&#34;]|4</td>
            </tr>
            <tr>
              <td class="col1">tsk.inv.req</td>
              <td class="col2">8</td>
              <td class="col3">CHOICE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;TSK&#34;]|2</td>
            </tr>
            <tr>
              <td class="col1">tsk.notify.comp.rpt</td>
              <td class="col2">17</td>
              <td class="col3">CHOICE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;TSK&#34;]NF|4</td>
            </tr>
            <tr>
              <td class="col1">tsk.notify.inv.req</td>
              <td class="col2">17</td>
              <td class="col3">CHOICE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;TSK&#34;]NF|2</td>
            </tr>
            <tr>
              <td class="col1">tsk.notify.po.inv</td>
              <td class="col2">17</td>
              <td class="col3">CHOICE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;TSK&#34;]NF|5</td>
            </tr>
            <tr>
              <td class="col1">tsk.notify.po.ver</td>
              <td class="col2">17</td>
              <td class="col3">CHOICE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;TSK&#34;]NF|0</td>
            </tr>
            <tr>
              <td class="col1">tsk.notify.pr.ver</td>
              <td class="col2">17</td>
              <td class="col3">CHOICE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;TSK&#34;]NF|1</td>
            </tr>
            <tr>
              <td class="col1">tsk.notify.wo.sch</td>
              <td class="col2">17</td>
              <td class="col3">CHOICE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;TSK&#34;]NF|3</td>
            </tr>
            <tr>
              <td class="col1">tsk.po.inv</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;TSK&#34;]|5</td>
            </tr>
            <tr>
              <td class="col1">tsk.po.ver</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;TSK&#34;]|0</td>
            </tr>
            <tr>
              <td class="col1">tsk.pr.ver</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;TSK&#34;]|1</td>
            </tr>
            <tr>
              <td class="col1">tsk.wo.sch</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;TSK&#34;]|3</td>
            </tr>
            <tr>
              <td class="col1">tskf.exc.buy.dft</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;TSK&#34;]FYI|0</td>
            </tr>
            <tr>
              <td class="col1">tskf.exc.buy.email</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;TSK&#34;]FYI|1</td>
            </tr>
            <tr>
              <td class="col1">tskf.exc.buy.fyi</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;TSK&#34;]FYI|2</td>
            </tr>
            <tr>
              <td class="col1">tskf.exc.invu.dft</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;TSK&#34;]FYI|3</td>
            </tr>
            <tr>
              <td class="col1">tskf.exc.invu.email</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;TSK&#34;]FYI|4</td>
            </tr>
            <tr>
              <td class="col1">tskf.exc.invu.fyi</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;TSK&#34;]FYI|5</td>
            </tr>
            <tr>
              <td class="col1">uninvoiced.po.purge.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS|20</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="auto.int.hours"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.STATUS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">auto.int.hours</div>
        <div class="subs">[ai.hour]</div>
        <div class="phys">*(M)MSTATUS[&#34;L&#34;,aifH]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">ai.hour</td>
              <td class="col2">2</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">aifH</td>
            </tr>
            <tr>
              <td class="col1">ai.minutes</td>
              <td class="col2">2</td>
              <td class="col3">INT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;L&#34;,aifH]|0</td>
            </tr>
            <tr>
              <td class="col1">ai.run.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;L&#34;,aifH]|1</td>
            </tr>
            <tr>
              <td class="col1">ai.run.status</td>
              <td class="col2">30</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;L&#34;,aifH]|2</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="inventories"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.STATUS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">inventories</div>
        <div class="subs">[inventory]</div>
        <div class="phys">*(M)MSTATUS[&#34;I&#34;,mi]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">inventory</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_INVENT.htm">MM.INVENT</a></td>
              <td class="col6">mi</td>
            </tr>
            <tr>
              <td class="col1">inv.last.date.closed</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;I&#34;,mi]|0</td>
            </tr>
            <tr>
              <td class="col1">inv.last.physical.posted</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;I&#34;,mi]|1</td>
            </tr>
            <tr>
              <td class="col1">inv.now.closing</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;I&#34;,mi]|2</td>
            </tr>
            <tr>
              <td class="col1">last.create.po.list.stat</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;I&#34;,mi]|5</td>
            </tr>
            <tr>
              <td class="col1">last.create.po.list.urn</td>
              <td class="col2">12</td>
              <td class="col3">INT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;I&#34;,mi]|4</td>
            </tr>
            <tr>
              <td class="col1">last.create.req.list.stat</td>
              <td class="col2">12</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;I&#34;,mi]|7</td>
            </tr>
            <tr>
              <td class="col1">last.create.req.list.urn</td>
              <td class="col2">12</td>
              <td class="col3">INT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;I&#34;,mi]|6</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="new.bar.batches"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.STATUS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">new.bar.batches</div>
        <div class="subs">[nbb.hour]</div>
        <div class="phys">*(M)MSTATUS[&#34;N&#34;,nbbH]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">nbb.hour</td>
              <td class="col2">2</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">nbbH</td>
            </tr>
            <tr>
              <td class="col1">nbb.minutes</td>
              <td class="col2">2</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;N&#34;,nbbH]|0</td>
            </tr>
            <tr>
              <td class="col1">nbb.run.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;N&#34;,nbbH]|1</td>
            </tr>
            <tr>
              <td class="col1">nbb.run.status</td>
              <td class="col2">30</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;N&#34;,nbbH]|2</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="process.po.lists"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.STATUS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">process.po.lists</div>
        <div class="subs">[process.po.list.urn]</div>
        <div class="phys">*(M)MSTATUS[&#34;POL&#34;,mmppl]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">process.po.list.urn</td>
              <td class="col2">12</td>
              <td class="col3">URN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">mmppl</td>
            </tr>
            <tr>
              <td class="col1">process.po.list.buyer</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_USER.htm">MIS.USER</a></td>
              <td class="col6">*(M)MSTATUS[&#34;POL&#34;,mmppl]|1</td>
            </tr>
            <tr>
              <td class="col1">process.po.list.dept</td>
              <td class="col2">12</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;POL&#34;,mmppl]|2</td>
            </tr>
            <tr>
              <td class="col1">process.po.list.status</td>
              <td class="col2">12</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;POL&#34;,mmppl]|3</td>
            </tr>
            <tr>
              <td class="col1">process.po.list.time</td>
              <td class="col2">12</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;POL&#34;,mmppl]|4</td>
            </tr>
            <tr>
              <td class="col1">process.po.list.user</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_USER.htm">MIS.USER</a></td>
              <td class="col6">*(M)MSTATUS[&#34;POL&#34;,mmppl]|0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="process.req.lists"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.STATUS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">process.req.lists</div>
        <div class="subs">[process.req.list.urn]</div>
        <div class="phys">*(M)MSTATUS[&#34;PRL&#34;,mmrpl]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">process.req.list.urn</td>
              <td class="col2">12</td>
              <td class="col3">URN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">mmrpl</td>
            </tr>
            <tr>
              <td class="col1">process.req.list.invent</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_INVENT.htm">MM.INVENT</a></td>
              <td class="col6">*(M)MSTATUS[&#34;PRL&#34;,mmrpl]|1</td>
            </tr>
            <tr>
              <td class="col1">process.req.list.status</td>
              <td class="col2">12</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;PRL&#34;,mmrpl]|3</td>
            </tr>
            <tr>
              <td class="col1">process.req.list.time</td>
              <td class="col2">12</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;PRL&#34;,mmrpl]|4</td>
            </tr>
            <tr>
              <td class="col1">process.req.list.user</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_USER.htm">MIS.USER</a></td>
              <td class="col6">*(M)MSTATUS[&#34;PRL&#34;,mmrpl]|0</td>
            </tr>
            <tr>
              <td class="col1">process.req.list.ven</td>
              <td class="col2">11</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_VEN.htm">MIS.VEN</a></td>
              <td class="col6">*(M)MSTATUS[&#34;PRL&#34;,mmrpl]|2</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="tasks.email.history"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.STATUS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#main" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">tasks.email.history</div>
        <div class="subs">[tsk.email.user]</div>
        <div class="phys">*(M)MSTATUS[&#34;TSK&#34;]EM[gu]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">tsk.email.user</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_USER.htm">MIS.USER</a></td>
              <td class="col6">gu</td>
            </tr>
            <tr>
              <td class="col1">tsk.email.last.sent</td>
              <td class="col2">12</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)MSTATUS[&#34;TSK&#34;]EM[gu]|0</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>