<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>MM.STATS Data Definitions</title>
    <link rel="stylesheet" type="text/css" href="../../../style/site.css" />
    <link rel="stylesheet" type="text/css" href="../../../style/dpm.css" />
  </head>
  <body>
    <h2>MM.STATS Data Definitions</h2>
    <h5>(Client Server 6.15)</h5>
    <div id="wrap">
      <div id="hierarchy">
        <a name="Hierarchy"></a>
        <ul class="nav">
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div><a href="#top">top</a></div>
        <div>&#160;&#160;<a href="#inv.stats">inv.stats</a></div>
        <div>&#160;&#160;&#160;&#160;<a href="#asset.acct.stats">asset.acct.stats</a></div>
        <div>&#160;&#160;&#160;&#160;<a href="#depts">depts</a></div>
        <div>&#160;&#160;&#160;&#160;&#160;&#160;<a href="#dept.cats">dept.cats</a></div>
        <div>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<a href="#dept.stocks">dept.stocks</a></div>
        <div>&#160;&#160;&#160;&#160;&#160;&#160;<a href="#dept.gl">dept.gl</a></div>
        <div>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<a href="#dept.gl.stocks">dept.gl.stocks</a></div>
        <div>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<a href="#dept.gl.stock.tax.codes">dept.gl.stock.tax.codes</a></div>
        <div>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<a href="#dept.gl.tax.codes">dept.gl.tax.codes</a></div>
        <div>&#160;&#160;&#160;&#160;<a href="#gl.stats">gl.stats</a></div>
        <div>&#160;&#160;&#160;&#160;<a href="#tax.acct.stats">tax.acct.stats</a></div>
        <div>&#160;&#160;<a href="#item.depts">item.depts</a></div>
        <div>&#160;&#160;&#160;&#160;<a href="#item.dept.gl">item.dept.gl</a></div>
        <div>&#160;&#160;&#160;&#160;&#160;&#160;<a href="#item.dept.gl.items">item.dept.gl.items</a></div>
        <div>&#160;&#160;<a href="#item.gl.stats">item.gl.stats</a></div>
      </div>
      <div class="seg">
        <div><a name="top"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.STATS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li>&#160;</li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">top</div>
        <div class="subs">[pe.date,purch.facility]</div>
        <div class="phys">*(M)ME[me,mw]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">pe.date</td>
              <td class="col2">8</td>
              <td class="col3">DATE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">me</td>
            </tr>
            <tr>
              <td class="col1">purch.facility</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_PUR_FAC.htm">MIS.PUR.FAC</a></td>
              <td class="col6">mw</td>
            </tr>
            <tr>
              <td class="col1">check.purch.facility</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=IF{%MIS.PUR.FAC.check.user(purch.facility,@.us<br />VAL=er)&#160;&#34;Y&#34;;&#34;N&#34;}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="inv.stats"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.STATS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#top" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">inv.stats</div>
        <div class="subs">[pe.date,purch.facility,inventory]</div>
        <div class="phys">*(M)ME[me,mw]I[mi]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">inventory</td>
              <td class="col2">10</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_INVENT.htm">MM.INVENT</a></td>
              <td class="col6">mi</td>
            </tr>
            <tr>
              <td class="col1">check.inv</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=IF{%MM.INVENT.security(MM.STATS.inventory,1,&#34;&#34;<br />VAL=,&#34;&#34;)&#160;&#34;N&#34;;&#34;Y&#34;}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="asset.acct.stats"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.STATS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#inv.stats" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">asset.acct.stats</div>
        <div class="subs">[pe.date,purch.facility,inventory,asset.acct]</div>
        <div class="phys">*(M)ME[me,mw]I[mi]A[meGA]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">asset.acct</td>
              <td class="col2">25</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_GL_ACCOUNT.htm">MIS.GL.ACCOUNT</a></td>
              <td class="col6">meGA</td>
            </tr>
            <tr>
              <td class="col1">aa.adjust.value</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]A[meGA]|7</td>
            </tr>
            <tr>
              <td class="col1">aa.dept.issue.value</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]A[meGA]|3</td>
            </tr>
            <tr>
              <td class="col1">aa.dept.return.value</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]A[meGA]|4</td>
            </tr>
            <tr>
              <td class="col1">aa.init.value</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]A[meGA]|0</td>
            </tr>
            <tr>
              <td class="col1">aa.net.value.in</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]A[meGA]|8</td>
            </tr>
            <tr>
              <td class="col1">aa.patient.issue.value</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]A[meGA]|5</td>
            </tr>
            <tr>
              <td class="col1">aa.rcpt.value</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]A[meGA]|1</td>
            </tr>
            <tr>
              <td class="col1">aa.value.on.hand</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]A[meGA]|9</td>
            </tr>
            <tr>
              <td class="col1">aa.xfer.in.value</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]A[meGA]|2</td>
            </tr>
            <tr>
              <td class="col1">aa.xfer.out.value</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]A[meGA]|6</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="depts"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.STATS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#inv.stats" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">depts</div>
        <div class="subs">[pe.date,purch.facility,inventory,dept]</div>
        <div class="phys">*(M)ME[me,mw]I[mi]D[gd]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">dept</td>
              <td class="col2">15</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_GL_DEPT.htm">MIS.GL.DEPT</a></td>
              <td class="col6">gd</td>
            </tr>
            <tr>
              <td class="col1">check.dept</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=IF{%MIS.GL.DEPT.user.ok(MM.STATS.dept)&#160;&#34;Y&#34;;&#34;N&#34;<br />VAL=}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="dept.cats"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.STATS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#depts" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">dept.cats</div>
        <div class="subs">[pe.date,purch.facility,inventory,dept,dept.cat]</div>
        <div class="phys">*(M)ME[me,mw]I[mi]D[gd]C[ma]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">dept.cat</td>
              <td class="col2">8</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_CATEGORY.htm">MM.CATEGORY</a></td>
              <td class="col6">ma</td>
            </tr>
            <tr>
              <td class="col1">dept.cat.taxes</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]C[ma]|1</td>
            </tr>
            <tr>
              <td class="col1">dept.cat.usage.value</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]C[ma]|0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="dept.stocks"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.STATS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#dept.cats" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">dept.stocks</div>
        <div class="subs">[pe.date,purch.facility,inventory,dept,dept.cat,dept.stock.urn]</div>
        <div class="phys">*(M)ME[me,mw]I[mi]D[gd]C[ma]S[ms]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">dept.stock.urn</td>
              <td class="col2">18</td>
              <td class="col3">URN</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_STOCK.htm">MM.STOCK</a></td>
              <td class="col6">ms</td>
            </tr>
            <tr>
              <td class="col1">dept.issue.qty</td>
              <td class="col2">7</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]C[ma]S[ms]|0</td>
            </tr>
            <tr>
              <td class="col1">dept.issue.value</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]C[ma]S[ms]|1</td>
            </tr>
            <tr>
              <td class="col1">dept.return.qty</td>
              <td class="col2">7</td>
              <td class="col3">PINT</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]C[ma]S[ms]|2</td>
            </tr>
            <tr>
              <td class="col1">dept.return.value</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]C[ma]S[ms]|3</td>
            </tr>
            <tr>
              <td class="col1">dept.taxes</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]C[ma]S[ms]|4</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="dept.gl"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.STATS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#depts" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">dept.gl</div>
        <div class="subs">[pe.date,purch.facility,inventory,dept,dept.gl.account]</div>
        <div class="phys">*(M)ME[me,mw]I[mi]D[gd]G[ga]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">dept.gl.account</td>
              <td class="col2">25</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_GL_ACCOUNT.htm">MIS.GL.ACCOUNT</a></td>
              <td class="col6">ga</td>
            </tr>
            <tr>
              <td class="col1">dept.gl.adjust</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]G[ga]|5</td>
            </tr>
            <tr>
              <td class="col1">dept.gl.dept.issue</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]G[ga]|1</td>
            </tr>
            <tr>
              <td class="col1">dept.gl.dept.return</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]G[ga]|2</td>
            </tr>
            <tr>
              <td class="col1">dept.gl.pt.issue</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]G[ga]|3</td>
            </tr>
            <tr>
              <td class="col1">dept.gl.taxes</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]G[ga]|6</td>
            </tr>
            <tr>
              <td class="col1">dept.gl.total</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]G[ga]|7</td>
            </tr>
            <tr>
              <td class="col1">dept.gl.xfer.in</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]G[ga]|0</td>
            </tr>
            <tr>
              <td class="col1">dept.gl.xfer.out</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]G[ga]|4</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="dept.gl.stocks"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.STATS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#dept.gl" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">dept.gl.stocks</div>
        <div class="subs">[pe.date,purch.facility,inventory,dept,dept.gl.account,dept.gl.stock.urn]</div>
        <div class="phys">*(M)ME[me,mw]I[mi]D[gd]G[ga]S[ms]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">dept.gl.stock.urn</td>
              <td class="col2">18</td>
              <td class="col3">URN</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_STOCK.htm">MM.STOCK</a></td>
              <td class="col6">ms</td>
            </tr>
            <tr>
              <td class="col1">dept.gl.stock.adjust</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]G[ga]S[ms]|5</td>
            </tr>
            <tr>
              <td class="col1">dept.gl.stock.dept.issue</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]G[ga]S[ms]|1</td>
            </tr>
            <tr>
              <td class="col1">dept.gl.stock.dept.return</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]G[ga]S[ms]|2</td>
            </tr>
            <tr>
              <td class="col1">dept.gl.stock.pt.issue</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]G[ga]S[ms]|3</td>
            </tr>
            <tr>
              <td class="col1">dept.gl.stock.taxes</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]G[ga]S[ms]|6</td>
            </tr>
            <tr>
              <td class="col1">dept.gl.stock.total</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]G[ga]S[ms]|7</td>
            </tr>
            <tr>
              <td class="col1">dept.gl.stock.xfer.in</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]G[ga]S[ms]|0</td>
            </tr>
            <tr>
              <td class="col1">dept.gl.stock.xfer.out</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]G[ga]S[ms]|4</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="dept.gl.stock.tax.codes"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.STATS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#dept.gl.stocks" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">dept.gl.stock.tax.codes</div>
        <div class="subs">[pe.date,purch.facility,inventory,dept,dept.gl.account,dept.gl.stock.urn,dept.gl.stock.tax.cd]</div>
        <div class="phys">*(M)ME[me,mw]I[mi]D[gd]G[ga]S[ms]T[gea]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">dept.gl.stock.tax.cd</td>
              <td class="col2">3</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_TAX_CODE.htm">MIS.TAX.CODE</a></td>
              <td class="col6">gea</td>
            </tr>
            <tr>
              <td class="col1">dept.gl.stock.tax.cd.tax</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]G[ga]S[ms]T[gea]|1</td>
            </tr>
            <tr>
              <td class="col1">dept.gl.stock.tax.cd.tot</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]G[ga]S[ms]T[gea]|0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="dept.gl.tax.codes"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.STATS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#dept.gl" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">dept.gl.tax.codes</div>
        <div class="subs">[pe.date,purch.facility,inventory,dept,dept.gl.account,dept.gl.tax.code]</div>
        <div class="phys">*(M)ME[me,mw]I[mi]D[gd]G[ga]T[gea]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">dept.gl.tax.code</td>
              <td class="col2">3</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_TAX_CODE.htm">MIS.TAX.CODE</a></td>
              <td class="col6">gea</td>
            </tr>
            <tr>
              <td class="col1">dept.gl.tax.code.taxes</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]G[ga]T[gea]|1</td>
            </tr>
            <tr>
              <td class="col1">dept.gl.tax.code.total</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]D[gd]G[ga]T[gea]|0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="gl.stats"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.STATS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#inv.stats" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">gl.stats</div>
        <div class="subs">[pe.date,purch.facility,inventory,gl.account.type,gl.account]</div>
        <div class="phys">*(M)ME[me,mw]I[mi]GL[meGAT,ga]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">gl.account.type</td>
              <td class="col2">1</td>
              <td class="col3">CHOICE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">meGAT</td>
            </tr>
            <tr>
              <td class="col1">gl.account</td>
              <td class="col2">25</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_GL_ACCOUNT.htm">MIS.GL.ACCOUNT</a></td>
              <td class="col6">ga</td>
            </tr>
            <tr>
              <td class="col1">gl.dis.corp</td>
              <td class="col2">4</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_GL_CORP.htm">MIS.GL.CORP</a></td>
              <td class="col6">*(M)ME[me,mw]I[mi]GL[meGAT,ga]|1</td>
            </tr>
            <tr>
              <td class="col1">gl.value</td>
              <td class="col2">12</td>
              <td class="col3">SMONEY</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]GL[meGAT,ga]|0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="tax.acct.stats"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.STATS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#inv.stats" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">tax.acct.stats</div>
        <div class="subs">[pe.date,purch.facility,inventory,tax.acct]</div>
        <div class="phys">*(M)ME[me,mw]I[mi]T[meTA]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">tax.acct</td>
              <td class="col2">25</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_GL_ACCOUNT.htm">MIS.GL.ACCOUNT</a></td>
              <td class="col6">meTA</td>
            </tr>
            <tr>
              <td class="col1">ta.adjust.value</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]T[meTA]|7</td>
            </tr>
            <tr>
              <td class="col1">ta.dept.issue.value</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]T[meTA]|3</td>
            </tr>
            <tr>
              <td class="col1">ta.dept.return.value</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]T[meTA]|4</td>
            </tr>
            <tr>
              <td class="col1">ta.init.value</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]T[meTA]|0</td>
            </tr>
            <tr>
              <td class="col1">ta.net.value.in</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]T[meTA]|8</td>
            </tr>
            <tr>
              <td class="col1">ta.patient.issue.value</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]T[meTA]|5</td>
            </tr>
            <tr>
              <td class="col1">ta.rcpt.value</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]T[meTA]|1</td>
            </tr>
            <tr>
              <td class="col1">ta.value.on.hand</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]T[meTA]|9</td>
            </tr>
            <tr>
              <td class="col1">ta.xfer.in.value</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]T[meTA]|2</td>
            </tr>
            <tr>
              <td class="col1">ta.xfer.out.value</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]I[mi]T[meTA]|6</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="item.depts"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.STATS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#top" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">item.depts</div>
        <div class="subs">[pe.date,purch.facility,item.dept]</div>
        <div class="phys">*(M)ME[me,mw]ID[gd]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">item.dept</td>
              <td class="col2">15</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_GL_DEPT.htm">MIS.GL.DEPT</a></td>
              <td class="col6">gd</td>
            </tr>
            <tr>
              <td class="col1">item.check.dept</td>
              <td class="col2">1</td>
              <td class="col3">YN</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">VAL=IF{%MIS.GL.DEPT.user.ok(MM.STATS.item.dept)&#160;&#34;Y<br />VAL=&#34;;&#34;N&#34;}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="item.dept.gl"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.STATS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#item.depts" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">item.dept.gl</div>
        <div class="subs">[pe.date,purch.facility,item.dept,item.dept.gl.account]</div>
        <div class="phys">*(M)ME[me,mw]ID[gd]G[ga]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">item.dept.gl.account</td>
              <td class="col2">25</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_GL_ACCOUNT.htm">MIS.GL.ACCOUNT</a></td>
              <td class="col6">ga</td>
            </tr>
            <tr>
              <td class="col1">item.dept.gl.pt.issue</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]ID[gd]G[ga]|1</td>
            </tr>
            <tr>
              <td class="col1">item.dept.gl.total</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]ID[gd]G[ga]|0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="item.dept.gl.items"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.STATS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#item.dept.gl" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">item.dept.gl.items</div>
        <div class="subs">[pe.date,purch.facility,item.dept,item.dept.gl.account,item.dept.gl.item.urn]</div>
        <div class="phys">*(M)ME[me,mw]ID[gd]G[ga]I[mt]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">item.dept.gl.item.urn</td>
              <td class="col2">43</td>
              <td class="col3">URN</td>
              <td class="col4">L</td>
              <td class="col5"><a href="MM_ITEM.htm">MM.ITEM</a></td>
              <td class="col6">mt</td>
            </tr>
            <tr>
              <td class="col1">item.dept.gl.item.pt.iss</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]ID[gd]G[ga]I[mt]|1</td>
            </tr>
            <tr>
              <td class="col1">item.dept.gl.item.total</td>
              <td class="col2">10</td>
              <td class="col3">DEC2</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]ID[gd]G[ga]I[mt]|0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seg">
        <div><a name="item.gl.stats"></a></div>
        <ul class="nav">
          <li><a href="#Hierarchy" title="MM.STATS Segment Hierarchy"><font face="Webdings" size="+2">&#204</size></font></a></li>
          <li><a href="#top" title="Parent Segment"><font face="Webdings" size="+2">&#128&#129</size></font></a></a></li>
          <li>&#160;</li>
          <li><a href="MMdpm.htm" title="MM DPMs"><font face="Webdings" size="+2">2</size></font></a></li>
        </ul>
        <div class="clear"></div>
        <div class="name">item.gl.stats</div>
        <div class="subs">[pe.date,purch.facility,item.gl.account.type,item.gl.account]</div>
        <div class="phys">*(M)ME[me,mw]IGL[meIGAT,ga]</div>
        <table>
          <thead>
            <tr>
              <td class="col1">Field Name</td>
              <td class="col2">Len</td>
              <td class="col3">Data Type</td>
              <td class="col4">J</td>
              <td class="col5">DPM Pointer</td>
              <td class="col6">Offset/Local/VAL</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col1">item.gl.account.type</td>
              <td class="col2">1</td>
              <td class="col3">CHOICE</td>
              <td class="col4">L</td>
              <td class="col5"></td>
              <td class="col6">meIGAT</td>
            </tr>
            <tr>
              <td class="col1">item.gl.account</td>
              <td class="col2">25</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_GL_ACCOUNT.htm">MIS.GL.ACCOUNT</a></td>
              <td class="col6">ga</td>
            </tr>
            <tr>
              <td class="col1">item.gl.dis.corp</td>
              <td class="col2">4</td>
              <td class="col3">FREE</td>
              <td class="col4">L</td>
              <td class="col5"><a href="../MIS/MIS_GL_CORP.htm">MIS.GL.CORP</a></td>
              <td class="col6">*(M)ME[me,mw]IGL[meIGAT,ga]|1</td>
            </tr>
            <tr>
              <td class="col1">item.gl.value</td>
              <td class="col2">12</td>
              <td class="col3">SMONEY</td>
              <td class="col4">R</td>
              <td class="col5"></td>
              <td class="col6">*(M)ME[me,mw]IGL[meIGAT,ga]|0</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>